<!DOCTYPE html>
<html lang="en" class="no-js">
	<!-- Head -->
	<head>
		<title>{{profile.firstname}} {{profile.lastname}}</title>

		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Favicon -->
		<link rel="shortcut icon" href="../../assets/trend.png" type="image/x-icon">

		<!--  Social tags -->
    <meta name="keywords" content="Trending Dash">
    <meta name="description" content="Trending Dashboard UI Kit crafted by Trending.">
    <meta name="author" content="traending.com">

    <!-- Schema.org -->
    <meta itemprop="name" content="Trending Dashboard UI Kit">
    <meta itemprop="description" content="Trending Dashboard UI Kit crafted by Trending.">
    <meta itemprop="image" content="assets/img/sduik-preview.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@trending">
    <meta name="twitter:title" content="Trending Dashboard UI Kit">
    <meta name="twitter:description" content="Trending Dashboard UI Kit crafted by Trending.">
    <meta name="twitter:creator" content="@trending">
    <meta name="twitter:image" content="assets/img/sduik-preview.png">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Trending">
    <meta property="og:title" content="Trending Dashboard UI Kit">
    <meta property="og:description" content="Trending Dashboard UI Kit crafted by Trending.">
    <meta property="og:url" content="https://traending.com/">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="assets/img/sduik-preview.png">
    <meta property="og:image:secure_url" content="assets/img/sduik-preview.png">

    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

		<!-- Components Vendor Styles -->
	  <link rel="stylesheet" href="../../assets/assets/vendor/font-awesome/css/all.min.css">
		<link rel="stylesheet" href="../../assets/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">

		<!-- Theme Styles -->
		<link rel="stylesheet" href="../../assets/assets/css/theme.css">

		<!-- Custom Charts -->
		<style>
			.js-doughnut-chart {
				width: 70px !important;
				height: 70px !important;
			}
		</style>
	</head>
	<!-- End Head -->

	<body>
		<!-- Header (Topbar) -->
		<header class="u-header">
			<div class="u-header-left">
				<a class="u-header-logo" href="/">
					<img class="u-logo-desktop" src="../../assets/trend.png" width="40" height="40" alt="Trending Dashboard">
					<img class="img-fluid u-logo-mobile" src="../../assets/trend.png" width="50" alt="Trending Dashboard">
				</a>
			</div>

			<div class="u-header-middle">
				<a class="js-sidebar-invoker u-sidebar-invoker" href="#!"
				   data-is-close-all-except-this="true"
				   data-target="#sidebar">
					<i class="fa fa-bars u-sidebar-invoker__icon--open"></i>
					<i class="fa fa-times u-sidebar-invoker__icon--close"></i>
				</a>

			</div>

			<div class="u-header-right">
		  	<!-- User Profile -->
				<div class="dropdown ml-2">
				  <a class="link-muted d-flex align-items-center" href="#!" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
				    <img class="u-avatar--xs img-fluid rounded-circle mr-2" src="../../uploads/{{profile.profile_image}}" alt="User Profile">
						<span class="text-dark d-none d-sm-inline-block">
							{{profile.firstname}} <small class="fa fa-angle-down text-muted ml-1"></small>
						</span>
				  </a>

				  <div class="dropdown-menu dropdown-menu-right border-0 py-0 mt-3" aria-labelledby="dropdownMenuLink" style="width: 260px;">
				  	<div class="card">
							<div class="card-body">
								<ul class="list-unstyled mb-0">
									<li>
										<a class="d-flex align-items-center link-dark" href="/user/logout">
											<span class="h3 mb-0"><i class="far fa-share-square text-muted mr-3"></i></span> Sign Out
										</a>
									</li>
								</ul>
							</div>
				  	</div>
				  </div>
				</div>
		  	<!-- End User Profile -->
			</div>
		</header>
		<!-- End Header (Topbar) -->

		<main class="u-main" role="main">
			<!-- Sidebar -->
			<aside id="sidebar" class="u-sidebar">
				<div class="u-sidebar-inner">
					<header class="u-sidebar-header">
						<a class="u-sidebar-logo" href="/">
							<img class="img-fluid" src="../../assets/trend.png" width="40" alt="Trending Dashboard">
						</a>
					</header>

					<nav class="u-sidebar-nav">
						<ul class="u-sidebar-nav-menu u-sidebar-nav-menu--top-level">

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link active" href="/user/profile">
									<i class="fa fa-user u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Dashboard</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/mbrisis/admin/upload-trending">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Upload Article</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</aside>
			<!-- End Sidebar -->

			<div class="u-content">
				<div class="u-body">
					<!-- End Breadcrumb -->
					<div class="mb-4">
						<nav aria-label="breadcrumb">
							<h1 class="h3">Edit Profile</h1>
						  <ol class="breadcrumb bg-transparent small p-0">
						    <li class="breadcrumb-item"><a href="/user/profile">Profile</a></li>
						    <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
						  </ol>
						</nav>
					</div>
					<!-- End Breadcrumb -->

					<form method="POST" action="/edit-profile">

						<!-- Form Controls -->
						<div class="row">
							<div class="col-md-8 mb-4">
	              <div class="card">
	                <header class="card-header">
	                  <h2 class="h3 card-header-title">Account Details</h2>
	                </header>

									<div class="card-body">

										<div class="form-group mb-4">
											<label for="firstname">First Name</label>
											<input id="firstname" class="form-control" name="firstname" type="text" value="{{profile.firstname}}">
										</div>

										<div class="form-group mb-4">
											<label for="lastname">Last Name</label>
											<input id="lastname" class="form-control" name="lastname" type="text" value="{{profile.lastname}}">
										</div>

										<div class="form-group mb-4">
											<label for="institution">City or Country</label>
											<input id="institution" class="form-control" name="institution" type="text" value="{{profile.institution}}">
										</div>

										<div class="form-group mb-4">
											<label for="cell">Phone Number</label>
											<input id="cell" class="form-control" name="cell" type="text" value="{{profile.cell}}">
										</div>

										<div class="form-row">
											<div class="col-md-6">
												<div class="form-group mb-4">
													<label for="facebook">Facebook</label>
													<input id="facebook" class="form-control" name="facebook" type="text" value="{{profile.facebook}}">
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group mb-4">
													<label for="instagram">Instagram</label>
													<input id="instagram" class="form-control" name="instagram" type="text" value="{{profile.instagram}}">
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group mb-4">
													<label for="twitter">Twitter</label>
													<input id="twitter" class="form-control" name="twitter" type="text" value="{{profile.twitter}}">
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group mb-4">
													<label for="linkedin">Linkedin</label>
													<input id="linkedin" class="form-control" name="linkedin" type="text" value="{{profile.linkedin}}">
												</div>
											</div>
										</div>


										<div class="form-group mb-4">
											<label for="about">About</label>
											<textarea id="about" class="form-control" name="about">{{profile.about}}</textarea>
										</div>

										<div class="form-group mb-4">
											<button type="submit" class="btn btn-primary" name="upload">Make Changes</button>
										</div>

									</div>
	              </div>
							</div>
						</div>
						<!-- End Form Controls -->

					</form>
				</div>

				<!-- Footer -->
				<footer class="u-footer d-md-flex align-items-md-center text-center text-md-left text-muted text-muted">
					<p class="h5 mb-0 ml-auto">
						&copy; Trending News Company.
					</p>
				</footer>
				<!-- End Footer -->
			</div>
		</main>

		<!-- Global Vendor -->
		<script src="../../assets/assets/vendor/jquery/dist/jquery.min.js"></script>
		<script src="../../assets/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
		<script src="../../assets/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
		<script src="../../assets/assets/vendor/bootstrap/bootstrap.min.js"></script>

		<!-- Plugins -->
		<script src="../../assets/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- Initialization  -->
		<script src="../../assets/assets/js/sidebar-nav.js"></script>
		<script src="../../assets/assets/js/main.js"></script>
	</body>
</html>
