<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>{{job.title}}</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../assets/trend.png">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="../../assets/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/assets/vendor/font-awesome/css/all.min.css">
  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="../../assets/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-line/css/simple-line-icons.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-etlinefont/style.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-hs/style.css">
  <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
  <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
  <link rel="stylesheet" href="../../assets/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="../../assets/vendor/animate.css">
  <link rel="stylesheet" href="../../assets/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="../../assets/vendor/hamburgers/hamburgers.min.css">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="../../assets/css/unify-core.css">
  <link rel="stylesheet" href="../../assets/css/unify-components.css">
  <link rel="stylesheet" href="../../assets/css/unify-globals.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="../../assets/css/custom.css">
</head>

<body>
  <main>
    <!-- Header -->
    <header id="js-header" class="u-header u-header--static u-shadow-v19">
      <!-- Top Bar -->
      <div class="u-header__section g-brd-bottom g-brd-gray-light-v4 g-py-18">
        <div class="container">
          <div class="row">
            <!-- Logo -->
          <div class="col-lg-3 g-hidden-md-down">
            <div class="row">
                <a href="/" class="navbar-brand d-flex">
                  <h2 class="h3" style="font-family: inherit; color: red;">
                    <img class="logo" width="30px" src="../../assets/trend.png" />Trending
                  </h2>
                </a>
            </div>
          </div>
            <!-- End Logo -->

            <!-- Subscribe Form -->
            <div class="col-12 col-lg-8 col-sm-12">
              <form class="input-group rounded searchForm" method="post" action="/trending-search-results">
                <input class="form-control g-brd-secondary-light-v2 g-brd-primary--focus g-color-secondary-dark-v1 g-placeholder-secondary-dark-v1 g-bg-white g-font-weight-400 g-font-size-13 g-px-20 g-py-12" type="text" name="searchInput" placeholder="Search the entire site">
                <span class="input-group-append g-brd-none g-py-0 g-pr-0">
                  <button class="btn u-btn-white g-color-primary--hover g-bg-secondary g-font-weight-600 g-font-size-13 text-uppercase g-py-12 g-px-20 searchButton" type="submit">
                    <span class="g-hidden-md-down">Search</span>
                    <i class="g-hidden-lg-up fa fa-search"></i>
                  </button>
                </span>
              </form>
            </div>
            <!-- End Subscribe Form -->

            <!-- Subscribe Form -->
            <div class="g-hidden-md-down col-lg-1 col-sm-12">
              <a href="/user/signin" class="btn u-btn-white g-color-primary--hover g-bg-secondary g-font-weight-600 g-font-size-13 text-uppercase g-py-12 g-px-20 searchButton">
                <i class="far fa-user mr-2"></i>
                <span class="g-hidden-md-down">Sign In</span>
              </a>
            </div>
            <!-- End Subscribe Form -->

          </div>
        </div>
      </div>
      <!-- End Top Bar -->

      <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
        <nav class="js-mega-menu navbar navbar-expand-lg g-px-0">
          <div class="container g-px-5">
            <!-- Logo -->
            <a class="navbar-brand g-hidden-lg-up" href="/">
              <h2 class="h4" style="font-family: inherit; color: red;">
                <img class="logo" width="30px" src="../../assets/trend.png" />Trending
              </h2>
            </a>
            <!-- End Logo -->

            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 ml-auto" type="button"
                    aria-label="Toggle navigation"
                    aria-expanded="false"
                    aria-controls="navBar"
                    data-toggle="collapse"
                    data-target="#navBar">
              <span class="hamburger hamburger--slider g-pa-0">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->

            <!-- Navigation -->
            <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
              <ul class="navbar-nav g-font-weight-600">
                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mr-10--lg g-mr-20--xl g-ml-0--lg g-ml-0--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-1" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">World
                    </a>

                    <!-- Mega Menu -->
                    <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-6">
                      <div class="row">
                        {{# each world}}
                          <div class="col-lg-4">
                            <article class="u-block-hover">
                              <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                                <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                              </figure>
                              <span class="g-pos-abs g-top-20 g-left-20">
                              <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                            </span>
                              <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                              <i class="icon-energy"></i>
                            </span>
                              <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                                <small class="g-color-white">
                                  <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                                </small>
                                <h3 class="h5 g-font-weight-600 g-mt-5">
                                  <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                                </h3>
                              </header>
                            </article>
                          </div>
                        {{/each}}
                        <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                          <h6><a href="/world-news">View More World News</a></h6>
                        </div>
                      </div>
                    </div>
                    <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->
                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-1" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Covid-19
                    </a>

                    <!-- Mega Menu -->
                    <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-6">
                      <div class="row">
                        {{# each covid}}
                          <div class="col-lg-4">
                            <article class="u-block-hover">
                              <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                                <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                              </figure>
                              <span class="g-pos-abs g-top-20 g-left-20">
                              <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                            </span>
                              <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                              <i class="icon-energy"></i>
                            </span>
                              <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                                <small class="g-color-white">
                                  <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                                </small>
                                <h3 class="h5 g-font-weight-600 g-mt-5">
                                  <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                                </h3>
                              </header>
                            </article>
                          </div>
                        {{/each}}
                        <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                          <h6><a href="/covid-19">View More Covid-19 News</a></h6>
                        </div>
                      </div>
                    </div>
                    <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-1" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Travel
                    </a>

                    <!-- Mega Menu -->
                    <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-6">
                      <div class="row">
                        {{# each travel}}
                          <div class="col-lg-4">
                            <article class="u-block-hover">
                              <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                                <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                              </figure>
                              <span class="g-pos-abs g-top-20 g-left-20">
                              <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                            </span>
                              <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                              <i class="icon-energy"></i>
                            </span>
                              <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                                <small class="g-color-white">
                                  <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                                </small>
                                <h3 class="h5 g-font-weight-600 g-mt-5">
                                  <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                                </h3>
                              </header>
                            </article>
                          </div>
                        {{/each}}
                        <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                          <h6><a href="/travel">View More Travel News</a></h6>
                        </div>
                      </div>
                    </div>
                    <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-5" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Sport
                    </a>

                    <!-- Mega Menu -->
                    <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-6">
                      <div class="row">
                        {{# each sport}}
                          <div class="col-lg-4">
                            <article class="u-block-hover">
                              <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                                <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                              </figure>
                              <span class="g-pos-abs g-top-20 g-left-20">
                              <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                            </span>
                              <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                              <i class="icon-energy"></i>
                            </span>
                              <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                                <small class="g-color-white">
                                  <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                                </small>
                                <h3 class="h5 g-font-weight-600 g-mt-5">
                                  <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                                </h3>
                              </header>
                            </article>
                          </div>
                        {{/each}}
                        <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                          <h6><a href="/sport-news">View More Sport News</a></h6>
                        </div>
                      </div>
                    </div>
                    <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-3" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Fashion
                    </a>

                    <!-- Mega Menu -->
                    <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-4">
                      <div class="row">
                        {{# each fashion}}
                        <div class="col-lg-4">
                          <article class="u-block-hover">
                            <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                              <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                            </figure>
                            <span class="g-pos-abs g-top-20 g-left-20">
                            <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                          </span>
                            <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                            <i class="icon-camera"></i>
                          </span>
                            <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                              <small class="g-color-white">
                                <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                              </small>
                              <h3 class="h5 g-font-weight-600 g-mt-5">
                                <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                              </h3>
                            </header>
                          </article>
                        </div>
                        {{/each}}
                        <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                          <h6><a href="/fashion">View More Fashion News</a></h6>
                        </div>
                      </div>
                    </div>
                    <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-4" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">tech
                    </a>

                  <!-- Mega Menu -->
                  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-6">
                    <div class="row">
                      {{# each technology}}
                        <div class="col-lg-4">
                          <article class="u-block-hover">
                            <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                              <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                            </figure>
                            <span class="g-pos-abs g-top-20 g-left-20">
                            <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                          </span>
                            <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                            <i class="icon-energy"></i>
                          </span>
                            <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                              <small class="g-color-white">
                                <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                              </small>
                              <h3 class="h5 g-font-weight-600 g-mt-5">
                                <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                              </h3>
                            </header>
                          </article>
                        </div>
                      {{/each}}
                      <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                        <h6><a href="/tech-news">View More Tech News</a></h6>
                      </div>
                    </div>
                  </div>
                  <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-4" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">science
                    </a>

                  <!-- Mega Menu -->
                  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-6">
                    <div class="row">
                      {{# each science}}
                        <div class="col-lg-4">
                          <article class="u-block-hover">
                            <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                              <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                            </figure>
                            <span class="g-pos-abs g-top-20 g-left-20">
                            <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                          </span>
                            <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                            <i class="icon-energy"></i>
                          </span>
                            <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                              <small class="g-color-white">
                                <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                              </small>
                              <h3 class="h5 g-font-weight-600 g-mt-5">
                                <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                              </h3>
                            </header>
                          </article>
                        </div>
                      {{/each}}
                      <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                        <h6><a href="/science">View More Science News</a></h6>
                      </div>
                    </div>
                  </div>
                  <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-6" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">LifeStyle
                    </a>

                  <!-- Mega Menu -->
                  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-4">
                    <div class="row">
                      {{# each lifestyle}}
                      <div class="col-lg-4">
                        <article class="u-block-hover">
                          <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                            <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                          </figure>
                          <span class="g-pos-abs g-top-20 g-left-20">
                          <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                        </span>
                          <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                          <i class="icon-energy"></i>
                        </span>
                          <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                            <small class="g-color-white">
                              <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                            </small>
                            <h3 class="h5 g-font-weight-600 g-mt-5">
                              <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                            </h3>
                          </header>
                        </article>
                      </div>
                      {{/each}}
                      <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                        <h6><a href="/lifestyle">View More Life News</a></h6>
                      </div>
                    </div>
                  </div>
                  <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-6" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Business
                    </a>

                  <!-- Mega Menu -->
                  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-4">
                    <div class="row">
                      {{# each business}}
                      <div class="col-lg-4">
                        <article class="u-block-hover">
                          <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                            <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                          </figure>
                          <span class="g-pos-abs g-top-20 g-left-20">
                          <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                        </span>
                          <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                          <i class="icon-energy"></i>
                        </span>
                          <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                            <small class="g-color-white">
                              <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                            </small>
                            <h3 class="h5 g-font-weight-600 g-mt-5">
                              <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                            </h3>
                          </header>
                        </article>
                      </div>
                      {{/each}}
                      <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                        <h6><a href="/business-news">View More Business News</a></h6>
                      </div>
                    </div>
                  </div>
                  <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-6" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Politics
                    </a>

                  <!-- Mega Menu -->
                  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-4">
                    <div class="row">
                      {{# each politics}}
                      <div class="col-lg-4">
                        <article class="u-block-hover">
                          <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                            <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                          </figure>
                          <span class="g-pos-abs g-top-20 g-left-20">
                          <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                        </span>
                          <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                          <i class="icon-energy"></i>
                        </span>
                          <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                            <small class="g-color-white">
                              <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                            </small>
                            <h3 class="h5 g-font-weight-600 g-mt-5">
                              <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                            </h3>
                          </header>
                        </article>
                      </div>
                      {{/each}}
                      <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                        <h6><a href="/politics">View More Politics News</a></h6>
                      </div>
                    </div>
                  </div>
                  <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->
                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-6" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Entertainment
                    </a>

                  <!-- Mega Menu -->
                  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-4">
                    <div class="row">
                      {{# each entertainment}}
                      <div class="col-lg-4">
                        <article class="u-block-hover">
                          <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                            <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                          </figure>
                          <span class="g-pos-abs g-top-20 g-left-20">
                          <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                        </span>
                          <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                          <i class="icon-energy"></i>
                        </span>
                          <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                            <small class="g-color-white">
                              <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                            </small>
                            <h3 class="h5 g-font-weight-600 g-mt-5">
                              <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                            </h3>
                          </header>
                        </article>
                      </div>
                      {{/each}}
                      <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                        <h6><a href="/entertainment">View More Entertainment News</a></h6>
                      </div>
                    </div>
                  </div>
                  <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-ml-10--lg g-ml-20--xl g-mr-0--lg g-mr-0--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-6" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Culture
                    </a>

                  <!-- Mega Menu -->
                  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-4">
                    <div class="row">
                      {{# each culture}}
                      <div class="col-lg-4">
                        <article class="u-block-hover">
                          <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                            <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                          </figure>
                          <span class="g-pos-abs g-top-20 g-left-20">
                          <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                        </span>
                          <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                          <i class="icon-energy"></i>
                        </span>
                          <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                            <small class="g-color-white">
                              <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                            </small>
                            <h3 class="h5 g-font-weight-600 g-mt-5">
                              <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                            </h3>
                          </header>
                        </article>
                      </div>
                      {{/each}}
                      <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                        <h6><a href="/culture">View More Culture News</a></h6>
                      </div>
                    </div>
                  </div>
                  <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->
              </ul>
            </div>
            <!-- End Navigation -->
          </div>
        </nav>
      </div>
    </header>
    <!-- End Header -->

    <!-- Page Title -->
    <section class="g-bg-secondary g-py-50">
      <div class="container">
        <div class="d-sm-flex text-center">
          <div class="align-self-center">
            <h2 class="h3 g-color-gray-dark-v1 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Job Description</h2>
          </div>

          <div class="align-self-center ml-auto">
            <ul class="u-list-inline">
              <li class="list-inline-item g-mr-5">
                <a class="u-link-v5 g-color-main" href="/">Home</a>
                <i class="g-color-gray-light-v2 g-ml-5">/</i>
              </li>
              <li class="list-inline-item g-mr-5">
                <a class="u-link-v5 g-color-main" href="/trending-job-listings">Trending Jobs</a>
                <i class="g-color-gray-light-v2 g-ml-5">/</i>
              </li>
              <li class="list-inline-item g-color-primary">
                <span>{{job.title}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- Page Title -->

    <!-- Jobs Description -->
    <section class="g-py-50">
      <div class="container">
        <div class="row">
          <!-- Sidebar -->
          <div class="col-lg-4 g-mb-30 g-hidden-lg-up">
            <aside class="u-shadow-v11 rounded g-pa-30">
              <!-- Content Header -->
              <div class="media g-mb-20">
                <div class="d-flex align-self-center g-mt-3 g-mr-15">
                  <img class="g-width-80 g-height-80 rounded-circle" src="../../uploads/{{job.image}}" alt="Image">
                </div>
                <div class="media-body">
                  <span class="d-block">

                      <a class="u-link-v5 g-font-size-18 g-color-gray-dark-v1 g-color-primary--hover" href="">{{job.company}}</a>

                    </span>
                  <span class="d-inline-block g-font-size-14 g-color-primary g-mr-15">{{job.type}}</span>
                </div>
              </div>
              <!-- End Content Header -->

              <hr class="g-brd-gray-light-v4">
              <i class="fa fa-eye g-color-gray-dark-v5 g-mr-10"></i>
              <span> {{job.views}} Views</span>

              <hr class="g-brd-gray-light-v4">

              <!-- Contacts -->
              <ul class="list-unstyled mb-0">
                <li class="d-flex align-items-baseline g-mb-12">
                  <i class="icon-location-pin g-color-gray-dark-v5 g-mr-10"></i>
                  <span>{{job.location}}</span>
                </li>
                <li class="d-flex align-items-baseline g-mb-10">
                  <i class="icon-phone g-color-gray-dark-v5 g-mr-10"></i>
                  <span>{{job.mobile}}</span>
                </li>
                <li class="d-flex align-items-baseline g-mb-10">
                  <i class="icon-envelope g-color-gray-dark-v5 g-mr-10"></i>
                  <a class="u-link-v5 g-color-main g-color-primary--hover" href="mailto:{{job.email}}">{{job.email}}</a>
                </li>
                {{# if job.website}}
                  <li class="d-flex align-items-baseline g-mb-10">
                    <i class="icon-globe g-color-gray-dark-v5 g-mr-10"></i>
                    <a class="u-link-v5 g-color-main g-color-primary--hover" href="{{job.website}}">{{job.website}}</a>
                  </li>
                {{/if}}
              </ul>
              <!-- End Contacts -->

              <hr class="g-brd-gray-light-v4">

              <!-- Social Links -->
              <ul class="list-inline mb-0 g-font-size-20 text-center">
                <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                  <a href="{{job.facebook}}">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                  <a href="{{job.linkedin}}">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                  <a href="{{job.twitter}}">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                  <a href="{{job.instagram}}">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
              <!-- End Social Links -->

            </aside>
          </div>
          <!-- Sidebar -->
          <!-- Content -->
          <div class="col-lg-8 g-mb-0--lg">
            <article class="u-shadow-v11 rounded g-pa-30">
              <!-- Content Header -->
              <div class="row">
                <div class="col-md-9 g-mb-30 g-mb-0--md">
                  <div class="media">
                    <div class="d-flex align-self-center g-mt-3 g-mr-20">
                      <img class="g-width-40 g-height-40 rounded-circle" src="../../assets/trend.png" alt="Image">
                    </div>
                    <div class="media-body">
                      <span class="d-block g-mb-3">
                          <a class="u-link-v5 g-font-size-18 g-color-gray-dark-v1 g-color-primary--hover" href="">{{job.title}}</a>
                        </span>
                      <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                          <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> {{job.location}}
                        </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 align-self-center text-md-right">
                  <a class="u-tags-v1 g-font-size-12 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-3 g-px-8" href="#!">{{job.period}}</a>
                </div>
              </div>
              <!-- End Content Header -->

              <hr class="g-brd-gray-light-v4">

              <!-- Jobs Description -->
              <h3 class="h5 g-color-gray-dark-v1 g-mb-10">Job Description</h3>
              <style media="screen">
                #art-img img{
                  width: 100%;
                  object-fit: cover;
                }

                #art-img iframe{
                  width: 100%;
                  height: 410px;
                  object-fit: cover;
                }

                @media (max-width: 991.98px){
                  #art-img img{
                    width: 100%;
                    object-fit: cover;
                    height: auto;
                  }

                  #art-img iframe{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                  }
                }
              </style>
              <div id="art-img">
                {{{job.description}}}
              </div>
              <!-- End Jobs Description -->

              <hr class="g-brd-gray-light-v4">

              <!-- Offer Details & Skills -->
              <div class="row">
                <!-- Offer Details -->
                <div class="col-lg g-mb-30 g-mb-0--lg">
                  <h3 class="h5 g-color-gray-dark-v1 g-mb-10">Offer Details</h3>
                  <ul class="list-unstyled mb-0">
                    <li class="media g-mb-10">
                      <span class="d-block g-color-gray-dark-v5 g-width-110">

                          <i class="icon-wallet g-pos-rel g-top-1 g-mr-5"></i> Salary:

                        </span>
                      <span class="media-body">{{job.salary}}</span>
                    </li>
                    <li class="media g-mb-10">
                      <span class="d-block g-color-gray-dark-v5 g-width-110">

                          <i class="icon-calendar g-pos-rel g-top-1 g-mr-5"></i> Date Posted:

                        </span>
                      <span class="media-body">{{job.date}}</span>
                    </li>
                  </ul>
                </div>
                <!-- End Offer Details -->
              </div>
              <!-- End Offer Details & Skills -->
            </article>
          </div>
          <!-- End Content -->
          <!-- Sidebar -->
          <div class="col-lg-4 g-hidden-md-down">
            <aside class="u-shadow-v11 rounded g-pa-30">
              <!-- Content Header -->
              <div class="media g-mb-20">
                <div class="d-flex align-self-center g-mt-3 g-mr-15">
                  <img class="g-width-80 g-height-80 rounded-circle" src="../../uploads/{{job.image}}" alt="Image">
                </div>
                <div class="media-body">
                  <span class="d-block">

                      <a class="u-link-v5 g-font-size-18 g-color-gray-dark-v1 g-color-primary--hover" href="">{{job.company}}</a>

                    </span>
                  <span class="d-inline-block g-font-size-14 g-color-primary g-mr-15">{{job.type}}</span>
                </div>
              </div>
              <!-- End Content Header -->

              <hr class="g-brd-gray-light-v4">
              <i class="fa fa-eye g-color-gray-dark-v5 g-mr-10"></i>
              <span> {{job.views}} Views</span>

              <hr class="g-brd-gray-light-v4">

              <!-- Contacts -->
              <ul class="list-unstyled mb-0">
                <li class="d-flex align-items-baseline g-mb-12">
                  <i class="icon-location-pin g-color-gray-dark-v5 g-mr-10"></i>
                  <span>{{job.location}}</span>
                </li>
                <li class="d-flex align-items-baseline g-mb-10">
                  <i class="icon-phone g-color-gray-dark-v5 g-mr-10"></i>
                  <span>{{job.mobile}}</span>
                </li>
                <li class="d-flex align-items-baseline g-mb-10">
                  <i class="icon-envelope g-color-gray-dark-v5 g-mr-10"></i>
                  <a class="u-link-v5 g-color-main g-color-primary--hover" href="mailto:{{job.email}}">{{job.email}}</a>
                </li>
                {{# if job.website}}
                  <li class="d-flex align-items-baseline g-mb-10">
                    <i class="icon-globe g-color-gray-dark-v5 g-mr-10"></i>
                    <a class="u-link-v5 g-color-main g-color-primary--hover" href="{{job.website}}">{{job.website}}</a>
                  </li>
                {{/if}}
              </ul>
              <!-- End Contacts -->

              <hr class="g-brd-gray-light-v4">

              <!-- Social Links -->
              <ul class="list-inline mb-0 g-font-size-20 text-center">
                <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                  <a href="{{job.facebook}}">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                  <a href="{{job.linkedin}}">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                  <a href="{{job.twitter}}">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                  <a href="{{job.instagram}}">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
              <!-- End Social Links -->

            </aside>
          </div>
          <!-- Sidebar -->

        </div>
      </div>
    </section>
    <!-- End Jobs Description -->

    <hr class="g-brd-gray-light-v4 my-0">

    <!-- Recent Jobs -->
    <section class="g-py-50">
      <div class="container">
        <header class="text-center g-width-60x--md mx-auto g-mb-50">
          <h2 class="h1 g-color-gray-dark-v1 g-font-weight-300">Recent Jobs</h2>
        </header>

        <div class="row g-mb-30">
          {{# each jobs}}
          <div class="col-lg-4 g-mb-30 g-mb-0--lg">
            <!-- Recent Jobs -->
            <article class="g-pa-25 u-shadow-v11 rounded">
              <h2 class="h4 g-mb-15">
                  <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/job-listing/{{this._id}}">{{this.title}}</a>
              </h2>

              <ul class="list-inline d-flex justify-content-between g-mb-15">
                <li class="list-inline-item g-mr-20">
                  <img class="g-height-25 g-width-25 rounded-circle g-mr-5" src="../../uploads/{{this.image}}" alt="Image">
                  <a class="u-link-v5 g-color-main g-color-primary--hover" href="/job-listing/{{this._id}}">{{this.company}}</a>
                </li>
                <li class="list-inline-item">
                  <a class="u-tags-v1 g-font-size-12 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-3 g-px-8" href="/job-listing/{{this._id}}">{{this.type}}</a>
                </li>
              </ul>
              <div style="height: 115px; overflow: hidden" class="g-mb-15">{{{this.description}}}</div>
              <ul class="list-unstyled">
                <li class="media g-mb-10">
                  <span class="d-block g-color-gray-dark-v5 g-width-110">
                      <i class="icon-wallet g-pos-rel g-top-1 g-mr-5"></i> Salary:
                  </span>
                  <span class="media-body">{{this.salary}}</span>
                </li>
                <li class="media g-mb-10">
                  <span class="d-block g-color-gray-dark-v5 g-width-110">
                      <i class="icon-calendar g-pos-rel g-top-1 g-mr-5"></i> Date:
                    </span>
                  <span class="media-body">{{this.date}}</span>
                </li>
                <li class="media">
                  <span class="d-block g-color-gray-dark-v5 g-width-110">
                      <i class="icon-location-pin g-pos-rel g-top-1 g-mr-5"></i> Location:
                    </span>
                  <span class="media-body">{{this.location}}</span>
                </li>
              </ul>
              <hr class="g-brd-gray-light-v4">
              <ul class="list-inline d-flex justify-content-between mb-0">
                <li class="list-inline-item">
                  <a class="u-tags-v1 g-font-size-12 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-3 g-px-8" href="/job-listing/{{this._id}}">{{this.period}}</a>
                </li>
                <li class="list-inline-item">
                  <a href="/job-listing/{{this._id}}">See Details</a>
                </li>
              </ul>
            </article>
            <!-- End Recent Jobs -->
          </div>
          {{/each}}
        </div>
        <div class="text-center">
          <a class="btn btn-xl u-btn-outline-primary text-uppercase g-font-weight-600 g-font-size-12" href="/trending-job-listings">View More Jobs</a>
        </div>
      </div>
    </section>
    <!-- End Recent Jobs -->

    <!-- Copyright Footer -->
    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
            <div class="d-lg-flex">
              <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">&copy; <script>document.write(new Date().getFullYear())</script> Trending</small>
              <ul class="u-list-inline">
                <li class="list-inline-item">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/terms-and-conditions">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                  <span>|</span>
                </li>
                <li class="list-inline-item">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/terms-and-conditions">Terms of Use</a>
                </li>
                <li class="list-inline-item">
                  <span>|</span>
                </li>
                <li class="list-inline-item">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/contact">Support</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-4 align-self-center">
            <ul class="list-inline text-center text-md-right mb-0">
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
                <a href="{{social.facebook}}" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Instagram">
                <a href="{{social.instagram}}" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Linkedin">
                <a href="{{social.linkedin}}" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
                <a href="{{social.twitter}}" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Youtube">
                <a href="{{social.youtube}}" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Copyright Footer -->

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{

     "bottom": 15,

     "right": 15

   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>


  <!-- JS Global Compulsory -->
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
  <script src="../../assets/vendor/popper.js/popper.min.js"></script>
  <script src="../../assets/vendor/bootstrap/bootstrap.min.js"></script>


  <!-- JS Implementing Plugins -->
  <script src="../../assets/vendor/appear.js"></script>
  <script src="../../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="../../assets/vendor/circles/circles.min.js"></script>
  <script src="../../assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
  <script src="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
  <script src="../../assets/vendor/fancybox/jquery.fancybox.min.js"></script>

  <!-- JS Unify -->
  <script src="../../assets/js/hs.core.js"></script>
  <script src="../../assets/js/components/hs.header.js"></script>
  <script src="../../assets/js/helpers/hs.hamburgers.js"></script>
  <script src="../../assets/js/components/hs.tabs.js"></script>
  <script src="../../assets/js/components/hs.counter.js"></script>
  <script src="../../assets/js/components/hs.rating.js"></script>
  <script src="../../assets/js/components/hs.popup.js"></script>
  <script src="../../assets/js/components/hs.go-to.js"></script>

  <!-- JS Customization -->
  <script src="../../assets/js/custom.js"></script>

  <script>
  $(document).on('ready', function () {
      var y = document.getElementById('art-img');

      var images = y.getElementsByTagName('IMG');

      for (var i = 0; i < images.length; i++) {
        images[i].classList.add("g-height-450");
      }

      var a = document.getElementById('art-img');

      var heads = a.getElementsByTagName('STRONG');

      for (var i = 0; i < heads.length; i++) {
        heads[i].classList.add("g-color-black");
      }
  });
  </script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of counters
        var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox', {
          transitionEffect: false
        });

        // initialization of rating
        $.HSCore.components.HSRating.init($('.js-rating'), {
          spacing: 2
        });
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
  </script>


  <div id="resolutionCaution" class="text-left g-max-width-600 g-bg-white g-pa-20" style="display: none;">
    <button type="button" class="close" onclick="Custombox.modal.close();">
      <i class="hs-icon hs-icon-close"></i>
    </button>
    <h4 class="g-mb-20">Screen resolution less than 1400px</h4>
  </div>

  <div id="copyModal" class="text-left modal-demo g-bg-white g-color-black g-pa-20" style="display: none;"></div>

  <!-- CSS -->
  <link rel="stylesheet" href="../../assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="../../assets/vendor/chosen/chosen.css">
  <link rel="stylesheet" href="../../assets/vendor/prism/themes/prism.css">
  <link rel="stylesheet" href="../../assets/vendor/custombox/custombox.min.css">
  <link rel="stylesheet" href="../../assets/style-switcher/vendor/spectrum/spectrum.css">
  <link rel="stylesheet" href="../../assets/style-switcher/vendor/spectrum/themes/sp-dark.css">
  <link rel="stylesheet" href="../../assets/style-switcher/style-switcher.css">
  <!-- End CSS -->

  <!-- Scripts -->
  <script src="../../assets/vendor/chosen/chosen.jquery.js"></script>
  <script src="../../assets/vendor/image-select/src/ImageSelect.jquery.js"></script>
  <script src="../../assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="../../assets/vendor/custombox/custombox.min.js"></script>
  <script src="../../assets/vendor/clipboard/dist/clipboard.min.js"></script>

  <!-- Prism -->
  <script src="../../assets/vendor/prism/prism.js"></script>
  <script src="../../assets/vendor/prism/components/prism-markup.min.js"></script>
  <script src="../../assets/vendor/prism/components/prism-css.min.js"></script>
  <script src="../../assets/vendor/prism/components/prism-clike.min.js"></script>
  <script src="../../assets/vendor/prism/components/prism-javascript.min.js"></script>
  <script src="../../assets/vendor/prism/plugins/toolbar/prism-toolbar.min.js"></script>
  <script src="../../assets/vendor/prism/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
  <!-- End Prism -->

  <script src="../../assets/js/components/hs.scrollbar.js"></script>
  <script src="../../assets/js/components/hs.select.js"></script>
  <script src="../../assets/js/components/hs.modal-window.js"></script>
  <script src="../../assets/js/components/hs.markup-copy.js"></script>

  <script src="../../assets/style-switcher/vendor/cookiejs/jquery.cookie.js"></script>
  <script src="../../assets/style-switcher/vendor/spectrum/spectrum.js"></script>
  <script src="../../assets/style-switcher/style-switcher.js"></script>
  <!-- End Scripts -->
  <!-- End Style Switcher -->

</body>

</html>
