<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Trending</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../assets/trend.png">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="../../assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/assets/vendor/font-awesome/css/all.min.css">
  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="../../assets/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-line/css/simple-line-icons.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-etlinefont/style.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-hs/style.css">
  <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
  <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
  <link rel="stylesheet" href="../../assets/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="../../assets/vendor/animate.css">
  <link rel="stylesheet" href="../../assets/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="../../assets/vendor/hamburgers/hamburgers.min.css">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="../../assets/css/unify-core.css">
  <link rel="stylesheet" href="../../assets/css/unify-components.css">
  <link rel="stylesheet" href="../../assets/css/unify-globals.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="../../assets/css/custom.css">
  <style media="screen">
    #first-part{
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (max-width: 991.98px){
        #top-part{
          padding-left: 8px;
          padding-right: 8px;
        }

        #first-part{
          padding-left: 8px;
          padding-right: 8px;
        }
      }
  </style>
</head>

<body>
  <main>
    <!-- Header -->
    <header id="js-header" class="u-header u-header--static u-shadow-v19">
      <!-- Top Bar -->
      <div class="u-header__section g-brd-bottom g-brd-gray-light-v4 g-py-18">
        <div class="container">
          <div class="row">
            <!-- Logo -->
          <div class="col-lg-3 g-hidden-md-down">
            <div class="row">
                <a href="/" class="navbar-brand d-flex">
                  <h2 class="h3" style="font-family: inherit; color: red;">
                    <img class="logo" width="30px" src="../../assets/trend.png" />Trending
                  </h2>
                </a>
            </div>
          </div>
            <!-- End Logo -->

            <!-- Subscribe Form -->
            <div class="col-12 col-lg-8 col-sm-12">
              <form class="input-group rounded searchForm" method="post" action="/trending-search-results">
                <input class="form-control g-brd-secondary-light-v2 g-brd-primary--focus g-color-secondary-dark-v1 g-placeholder-secondary-dark-v1 g-bg-white g-font-weight-400 g-font-size-13 g-px-20 g-py-12" type="text" name="searchInput" placeholder="Search the entire site">
                <span class="input-group-append g-brd-none g-py-0 g-pr-0">
                  <button class="btn u-btn-white g-color-primary--hover g-bg-secondary g-font-weight-600 g-font-size-13 text-uppercase g-py-12 g-px-20 searchButton" type="submit">
                    <span class="g-hidden-md-down">Search</span>
                    <i class="g-hidden-lg-up fa fa-search"></i>
                  </button>
                </span>
              </form>
            </div>
            <!-- End Subscribe Form -->

            <!-- Subscribe Form -->
            <div class="g-hidden-md-down col-lg-1 col-sm-12">
              <a href="/user/signin" class="btn u-btn-white g-color-primary--hover g-bg-secondary g-font-weight-600 g-font-size-13 text-uppercase g-py-12 g-px-20 searchButton">
                <i class="far fa-user mr-2"></i>
                <span class="g-hidden-md-down">Sign In</span>
              </a>
            </div>
            <!-- End Subscribe Form -->

          </div>
        </div>
      </div>
      <!-- End Top Bar -->

      <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
        <nav class="js-mega-menu navbar navbar-expand-lg g-px-0">
          <div class="container g-px-5">
            <!-- Logo -->
            <a class="navbar-brand g-hidden-lg-up" href="/">
              <h2 class="h4" style="font-family: inherit; color: red;">
                <img class="logo" width="30px" src="../../assets/trend.png" />Trending
              </h2>
            </a>
            <!-- End Logo -->

            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 ml-auto" type="button"
                    aria-label="Toggle navigation"
                    aria-expanded="false"
                    aria-controls="navBar"
                    data-toggle="collapse"
                    data-target="#navBar">
              <span class="hamburger hamburger--slider g-pa-0">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->

            <!-- Navigation -->
            <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
              <ul class="navbar-nav g-font-weight-600">
                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mr-10--lg g-mr-20--xl g-ml-0--lg g-ml-0--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-1" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">World
                    </a>

                    <!-- Mega Menu -->
                    <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-6">
                      <div class="row">
                        {{# each world}}
                          <div class="col-lg-4">
                            <article class="u-block-hover">
                              <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                                <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                              </figure>
                              <span class="g-pos-abs g-top-20 g-left-20">
                              <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                            </span>
                              <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                              <i class="icon-energy"></i>
                            </span>
                              <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                                <small class="g-color-white">
                                  <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                                </small>
                                <h3 class="h5 g-font-weight-600 g-mt-5">
                                  <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                                </h3>
                              </header>
                            </article>
                          </div>
                        {{/each}}
                        <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                          <h6><a href="/world-news">View More World News</a></h6>
                        </div>
                      </div>
                    </div>
                    <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->
                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-1" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Covid-19
                    </a>

                    <!-- Mega Menu -->
                    <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-6">
                      <div class="row">
                        {{# each covid}}
                          <div class="col-lg-4">
                            <article class="u-block-hover">
                              <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                                <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                              </figure>
                              <span class="g-pos-abs g-top-20 g-left-20">
                              <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                            </span>
                              <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                              <i class="icon-energy"></i>
                            </span>
                              <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                                <small class="g-color-white">
                                  <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                                </small>
                                <h3 class="h5 g-font-weight-600 g-mt-5">
                                  <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                                </h3>
                              </header>
                            </article>
                          </div>
                        {{/each}}
                        <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                          <h6><a href="/covid-19">View More Covid-19 News</a></h6>
                        </div>
                      </div>
                    </div>
                    <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-1" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Travel
                    </a>

                    <!-- Mega Menu -->
                    <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-6">
                      <div class="row">
                        {{# each travel}}
                          <div class="col-lg-4">
                            <article class="u-block-hover">
                              <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                                <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                              </figure>
                              <span class="g-pos-abs g-top-20 g-left-20">
                              <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                            </span>
                              <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                              <i class="icon-energy"></i>
                            </span>
                              <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                                <small class="g-color-white">
                                  <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                                </small>
                                <h3 class="h5 g-font-weight-600 g-mt-5">
                                  <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                                </h3>
                              </header>
                            </article>
                          </div>
                        {{/each}}
                        <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                          <h6><a href="/travel">View More Travel News</a></h6>
                        </div>
                      </div>
                    </div>
                    <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-5" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Sport
                    </a>

                    <!-- Mega Menu -->
                    <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-6">
                      <div class="row">
                        {{# each sport}}
                          <div class="col-lg-4">
                            <article class="u-block-hover">
                              <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                                <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                              </figure>
                              <span class="g-pos-abs g-top-20 g-left-20">
                              <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                            </span>
                              <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                              <i class="icon-energy"></i>
                            </span>
                              <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                                <small class="g-color-white">
                                  <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                                </small>
                                <h3 class="h5 g-font-weight-600 g-mt-5">
                                  <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                                </h3>
                              </header>
                            </article>
                          </div>
                        {{/each}}
                        <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                          <h6><a href="/sport-news">View More Sport News</a></h6>
                        </div>
                      </div>
                    </div>
                    <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-3" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Fashion
                    </a>

                    <!-- Mega Menu -->
                    <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-4">
                      <div class="row">
                        {{# each fashion}}
                        <div class="col-lg-4">
                          <article class="u-block-hover">
                            <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                              <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                            </figure>
                            <span class="g-pos-abs g-top-20 g-left-20">
                            <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                          </span>
                            <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                            <i class="icon-camera"></i>
                          </span>
                            <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                              <small class="g-color-white">
                                <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                              </small>
                              <h3 class="h5 g-font-weight-600 g-mt-5">
                                <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                              </h3>
                            </header>
                          </article>
                        </div>
                        {{/each}}
                        <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                          <h6><a href="/fashion">View More Fashion News</a></h6>
                        </div>
                      </div>
                    </div>
                    <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-4" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">tech
                    </a>

                  <!-- Mega Menu -->
                  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-6">
                    <div class="row">
                      {{# each technology}}
                        <div class="col-lg-4">
                          <article class="u-block-hover">
                            <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                              <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                            </figure>
                            <span class="g-pos-abs g-top-20 g-left-20">
                            <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                          </span>
                            <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                            <i class="icon-energy"></i>
                          </span>
                            <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                              <small class="g-color-white">
                                <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                              </small>
                              <h3 class="h5 g-font-weight-600 g-mt-5">
                                <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                              </h3>
                            </header>
                          </article>
                        </div>
                      {{/each}}
                      <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                        <h6><a href="/tech-news">View More Tech News</a></h6>
                      </div>
                    </div>
                  </div>
                  <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-4" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">science
                    </a>

                  <!-- Mega Menu -->
                  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-6">
                    <div class="row">
                      {{# each science}}
                        <div class="col-lg-4">
                          <article class="u-block-hover">
                            <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                              <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                            </figure>
                            <span class="g-pos-abs g-top-20 g-left-20">
                            <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                          </span>
                            <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                            <i class="icon-energy"></i>
                          </span>
                            <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                              <small class="g-color-white">
                                <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                              </small>
                              <h3 class="h5 g-font-weight-600 g-mt-5">
                                <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                              </h3>
                            </header>
                          </article>
                        </div>
                      {{/each}}
                      <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                        <h6><a href="/science">View More Science News</a></h6>
                      </div>
                    </div>
                  </div>
                  <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-6" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">LifeStyle
                    </a>

                  <!-- Mega Menu -->
                  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-4">
                    <div class="row">
                      {{# each lifestyle}}
                      <div class="col-lg-4">
                        <article class="u-block-hover">
                          <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                            <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                          </figure>
                          <span class="g-pos-abs g-top-20 g-left-20">
                          <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                        </span>
                          <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                          <i class="icon-energy"></i>
                        </span>
                          <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                            <small class="g-color-white">
                              <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                            </small>
                            <h3 class="h5 g-font-weight-600 g-mt-5">
                              <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                            </h3>
                          </header>
                        </article>
                      </div>
                      {{/each}}
                      <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                        <h6><a href="/lifestyle">View More Life News</a></h6>
                      </div>
                    </div>
                  </div>
                  <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-6" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Business
                    </a>

                  <!-- Mega Menu -->
                  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-4">
                    <div class="row">
                      {{# each business}}
                      <div class="col-lg-4">
                        <article class="u-block-hover">
                          <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                            <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                          </figure>
                          <span class="g-pos-abs g-top-20 g-left-20">
                          <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                        </span>
                          <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                          <i class="icon-energy"></i>
                        </span>
                          <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                            <small class="g-color-white">
                              <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                            </small>
                            <h3 class="h5 g-font-weight-600 g-mt-5">
                              <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                            </h3>
                          </header>
                        </article>
                      </div>
                      {{/each}}
                      <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                        <h6><a href="/business-news">View More Business News</a></h6>
                      </div>
                    </div>
                  </div>
                  <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-6" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Politics
                    </a>

                  <!-- Mega Menu -->
                  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-4">
                    <div class="row">
                      {{# each politics}}
                      <div class="col-lg-4">
                        <article class="u-block-hover">
                          <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                            <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                          </figure>
                          <span class="g-pos-abs g-top-20 g-left-20">
                          <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                        </span>
                          <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                          <i class="icon-energy"></i>
                        </span>
                          <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                            <small class="g-color-white">
                              <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                            </small>
                            <h3 class="h5 g-font-weight-600 g-mt-5">
                              <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                            </h3>
                          </header>
                        </article>
                      </div>
                      {{/each}}
                      <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                        <h6><a href="/politics">View More Politics News</a></h6>
                      </div>
                    </div>
                  </div>
                  <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->
                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-6" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Entertainment
                    </a>

                  <!-- Mega Menu -->
                  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-4">
                    <div class="row">
                      {{# each entertainment}}
                      <div class="col-lg-4">
                        <article class="u-block-hover">
                          <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                            <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                          </figure>
                          <span class="g-pos-abs g-top-20 g-left-20">
                          <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                        </span>
                          <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                          <i class="icon-energy"></i>
                        </span>
                          <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                            <small class="g-color-white">
                              <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                            </small>
                            <h3 class="h5 g-font-weight-600 g-mt-5">
                              <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                            </h3>
                          </header>
                        </article>
                      </div>
                      {{/each}}
                      <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                        <h6><a href="/entertainment">View More Entertainment News</a></h6>
                      </div>
                    </div>
                  </div>
                  <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->

                <!-- Mega Menu Item -->
                <li class="hs-has-mega-menu nav-item g-ml-10--lg g-ml-20--xl g-mr-0--lg g-mr-0--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    data-position="right">
                  <a id="mega-menu-label-6" class="nav-link text-uppercase g-px-0" href="#!" aria-haspopup="true" aria-expanded="false">Culture
                    </a>

                  <!-- Mega Menu -->
                  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-4">
                    <div class="row">
                      {{# each culture}}
                      <div class="col-lg-4">
                        <article class="u-block-hover">
                          <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after" style="height: 220px;">
                            <img style="height:100%; width: 100%; object-fit:cover" class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                          </figure>
                          <span class="g-pos-abs g-top-20 g-left-20">
                          <a class="btn btn-sm u-btn-red rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                        </span>
                          <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
                          <i class="icon-energy"></i>
                        </span>
                          <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
                            <small class="g-color-white">
                              <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                            </small>
                            <h3 class="h5 g-font-weight-600 g-mt-5">
                              <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                            </h3>
                          </header>
                        </article>
                      </div>
                      {{/each}}
                      <div class="col-lg-12 g-mb-20 g-mt-20 g-mb-0--lg text-center">
                        <h6><a href="/culture">View More Culture News</a></h6>
                      </div>
                    </div>
                  </div>
                  <!-- End Mega Menu -->
                </li>
                <!-- End Mega Menu Item -->
              </ul>
            </div>
            <!-- End Navigation -->
          </div>
        </nav>
      </div>
    </header>
    <!-- End Header -->

    <!-- Promo Block -->
    <div class="js-carousel g-bg-gray-dark-v1" data-infinite="true" data-autoplay="true" data-speed="7000" data-center-mode="true" data-center-padding="200px" data-slides-show="3" data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-45 g-height-45 g-font-size-20 g-brd-style-solid g-brd-2 g-color-white g-bg-black-opacity-0_5--hover g-transition-0_3 rounded-circle"
    data-arrow-left-classes="fa fa-angle-left g-left-20" data-arrow-right-classes="fa fa-angle-right g-right-20" data-responsive='[{

             "breakpoint": 1200,

             "settings": {

               "slidesToShow": 3,

               "centerPadding": "30px"

             }

           }, {

             "breakpoint": 992,

             "settings": {

               "slidesToShow": 2,

               "centerPadding": "60px"

             }

           }, {

             "breakpoint": 650,

             "settings": {

               "slidesToShow": 1,

               "centerPadding": "40px"

             }

           }]'>

      {{# each trending}}
      <!-- Article -->
      <div class="js-slide g-py-10 g-px-5">
        <article class="u-block-hover">
          <figure class="g-bg-cover g-bg-white-gradient-opacity-v1--after" style="width: 100%; height: 400px;">
            <img class="img-fluid w-100 height-100 u-block-hover__main--mover-up" style="width: 100%; height: 100%; object-fit: cover;" src="../../uploads/{{this.news_cover}}" alt="Image description">
          </figure>

          <span class="g-pos-abs g-top-20 g-left-20">
            <a class="btn btn-sm u-btn-red rounded-0">
              <i class="icon-energy"></i>
            </a>
            <a class="btn btn-sm u-btn-black rounded-0" >{{this.date}}</a>
            <a class="btn btn-sm u-btn-blue rounded-0">
              <i class="icon-eye g-pos-rel g-top-1 g-mr-2"></i> {{this.views}}
              <i class="icon-speech g-pos-rel g-top-1 g-mr-2 g-ml-3"></i> {{this.comments_count}}
            </a>
          </span>

          <div class="g-pos-abs g-bottom-20 g-left-20 g-right-20">
            <h3 class="h5 g-font-weight-400 g-mb-20">
                <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">{{this.title}}</a>
            </h3>

            <div class="media">
              <div class="d-flex mr-3">
                <img class="g-width-30 g-height-30 g-rounded-50x" src="../../uploads/{{this.author_image}}" style="object-fit:cover" alt="Image description">
              </div>
              <div class="media-body align-self-center g-color-white">
                <h6 class="mb-0">
                  <a class="g-color-white g-color-white--hover" href="/trender/{{this.author}}">{{this.author_name}}</a>
                </h6>
              </div>
            </div>
          </div>
        </article>
      </div>
      <!-- End Article -->
      {{/each}}

    </div>
    <!-- End Promo Block -->

    <!-- Promo Block -->
    <section class="g-py-50" id="top-part">
      <div id="first-part">
        <div class="row">
          <div class="col-lg-8">
            <!-- News Section -->
            <div class="row no-gutters">
              <div class="col-lg-12">
                <div class="u-heading-v3-1 g-mb-30">
                  <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Business Insider & Financial Trends</h2>
                </div>
              </div>

              {{# each fbiF}}
              <div class="masonry-grid-item col-lg-6 g-pr-1--lg g-mb-30 g-mb-5--lg">
                <!-- Blog Background Overlay Blocks -->
                <article class="u-block-hover">
                  <div class="g-bg-cover g-bg-white-gradient-opacity-v1--after" style="height:350px;width:100%;">
                    <img class="d-flex align-items-end u-block-hover__main--mover-down" style="height:100%; width:100%; object-fit:cover;" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                  </div>
                  <div class="u-block-hover__additional--partially-slide-up text-center g-z-index-1 mt-auto">
                    <div class="u-block-hover__visible g-pa-25">
                      <span class="d-block g-color-white-opacity-0_7 g-font-weight-600 g-font-size-12 mb-2">{{this.tag}}</span>
                      <h2 class="h4 g-color-white g-font-weight-600 mb-3">

                          <a class="u-link-v5 g-color-white g-color-primary--hover g-cursor-pointer" href="/trending/{{this._id}}">{{this.title}}</a>

                        </h2>
                      <h4 class="d-inline-block g-color-white-opacity-0_7 g-font-size-11 mb-0">
                          BY
                          <a class="g-color-white-opacity-0_7 text-uppercase" href="/trender/{{this.author}}">{{this.author_name}}</a>
                        </h4>
                      <span class="g-color-white-opacity-0_7 g-pos-rel g-top-2 mx-2">&#183;</span>
                      <span class="g-color-white-opacity-0_7 g-font-size-10 text-uppercase">{{this.date}}</span>
                    </div>

                    <a class="d-inline-block g-brd-bottom g-brd-white g-color-white g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover g-mb-30" href="/trending/{{this._id}}">Read more</a>
                  </div>
                </article>
                <!-- End Blog Background Overlay Blocks -->
              </div>

            {{/each}}
            <hr>

            {{# each fbiS}}
            <div class="col-lg-4 g-pr-5--lg g-mb-5 g-mt-5 g-mb-0--lg">
              <!-- Article -->
              <article>
                <figure class="u-shadow-v25 g-pos-rel g-mb-20">
                  <img class="img-fluid w-100 g-height-180" style="object-fit:cover" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                </figure>

                <h3 class="h6 g-mb-5 font-weight-bold">
                  <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                </h3>

                <ul class="list-inline g-color-gray-dark-v4 g-font-size-12">
                  <li class="list-inline-item">
                    {{this.date}}
                  </li>
                  <li class="list-inline-item">
                    |
                  </li>
                  <li class="list-inline-item">
                    <a href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                  </li>
                </ul>
              </article>
              <!-- End Article -->
            </div>
            {{/each}}
            </div>
            <!-- News Section -->
          </div>

          <div class="col-lg-4">
            <!-- Useful Links -->
              <div class="g-mb-30">
                <div class="u-heading-v3-1 g-mb-30">
                  <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Useful Links</h2>
                </div>

                <ul class="list-unstyled">
                  <li class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-12">
                    <h4 class="h6">
                      <i class="fa fa-angle-right g-color-gray-dark-v5 g-mr-5"></i>
                      <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/trending-adverts">Advertise on Trending</a>
                    </h4>
                  </li>
                  <li class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-12">
                    <h4 class="h6">
                      <i class="fa fa-angle-right g-color-gray-dark-v5 g-mr-5"></i>
                      <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/user/signup">Become a Trender</a>
                    </h4>
                  </li>
                  <li class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-12">
                    <h4 class="h6">
                      <i class="fa fa-angle-right g-color-gray-dark-v5 g-mr-5"></i>
                      <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/trending-directories">Companies Directory & People's</a>
                    </h4>
                  </li>
                  <li class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-12">
                    <h4 class="h6">
                      <i class="fa fa-angle-right g-color-gray-dark-v5 g-mr-5"></i>
                      <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/user/signin">Login Trender</a>
                    </h4>
                  </li>
                  <li class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-12">
                    <h4 class="h6">
                      <i class="fa fa-angle-right g-color-gray-dark-v5 g-mr-5"></i>
                      <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/trending-news">More Trending Articles</a>
                    </h4>
                  </li>
                  <li class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-12">
                    <h4 class="h6">
                      <i class="fa fa-angle-right g-color-gray-dark-v5 g-mr-5"></i>
                      <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/trending-accommodation">Trending Accommodation</a>
                    </h4>
                  </li>
                  <li class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-12">
                    <h4 class="h6">
                      <i class="fa fa-angle-right g-color-gray-dark-v5 g-mr-5"></i>
                      <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/trending-job-listings">Trending Job Listings</a>
                    </h4>
                  </li>
                </ul>
              </div>
              <!-- End Useful Links -->

              <div class="g-mb-30 g-mt-15 g-mb-0--lg">
                <!-- Article -->
                <article>
                  <figure class="u-shadow-v25 g-pos-rel g-mb-20">
                    <img class="img-fluid w-100 g-height-220" style="object-fit:cover" src="../../uploads/{{live.image}}" alt="Image Description">
                  </figure>

                  <h3 class="h6 g-mb-5 font-weight-bold">
                    <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="{{live.url}}" target="_blank">
                      <i class="icon-finance-001 u-line-icon-pro align-middle g-pos-rel g-top-1 mr-1"></i>
                       Live Now : {{live.title}}
                     </a>
                  </h3>

                </article>
                <!-- End Article -->
              </div>

          </div>
        </div>
      </div>
    </section>
    <!-- End Promo Block -->

    <!-- News Content -->
    <section class="g-pb-100" id="top-part">
      <div id="first-part">
        <!-- News Section 1 -->
        <div class="row g-mb-60">

          <div class="col-lg-12 g-mb-50 g-mb-0--lg">
            <div class="u-heading-v3-1 g-mb-30">
              <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Corona Virus News</h2>
            </div>
            <div class="row">
              <div class="col-lg-5">
                {{# each topcorona}}
                  <!-- Article -->
                  <article>
                    <figure class="u-shadow-v25 g-pos-rel g-mb-10">
                      <img class="img-fluid w-100 g-height-350" style="object-fit:cover" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                    </figure>

                    <h3 class="h5 g-mb-5 g-font-weight-700">
                      <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/trending/{{this._id}}">
                         {{this.title}}
                       </a>
                    </h3>
                  </article>
                  <!-- End Article -->
                {{/each}}
              </div>
              <div class="col-lg-7">
                <div class="row">
                  {{# each coronavirus}}
                    <div class="col-lg-4">
                      <!-- Article -->
                      <article>
                        <figure class="u-shadow-v25 g-pos-rel g-mb-10">
                          <img class="img-fluid w-100 g-height-150" style="object-fit:cover" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                        </figure>
                        <h3 class="h6 g-mb-5 font-weight-bold">
                          <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/trending/{{this._id}}">
                             {{this.title}}
                           </a>
                        </h3>
                      </article>
                      <!-- End Article -->
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>

          <!-- Articles Content -->
          <div class="col-lg-9 g-mb-50 g-mt-50 g-mb-0--lg">
            <!-- Latest News -->
            <div class="g-mb-50">
              <div class="u-heading-v3-1 g-mb-30">
                <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Latest News</h2>
              </div>

              <div class="row">
                {{# each latestF}}
                <!-- Article (Leftside) -->
                <div class="col-lg-6 g-mb-50 g-mb-0--lg">
                  <article>
                    <figure class="u-shadow-v25 g-pos-rel g-mb-5">
                      <img class="img-fluid w-100 g-height-300" style="object-fit:cover" src="../../uploads/{{this.news_cover}}" alt="Image Description">

                      <figcaption class="g-pos-abs g-top-20 g-left-20">
                        <a class="btn btn-xs u-btn-red text-uppercase rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                      </figcaption>
                    </figure>

                    <h3 class="h4 g-mb-5 font-weight-bold">
                      <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                    </h3>

                    <ul class="list-inline g-color-gray-dark-v4 g-font-size-12 text-uppercase">
                      <li class="list-inline-item">
                        <a href="/trender/{{this.author}}">{{this.author_name}}</a>
                      </li>
                      <li class="list-inline-item">
                        |
                      </li>
                      <li class="list-inline-item">
                        {{this.date}}
                      </li>
                      <li class="list-inline-item">
                        |
                      </li>
                      <li class="list-inline-item">
                        <a href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                      </li>
                    </ul>
                  </article>
                </div>
                {{/each}}
                <!-- End Article (Leftside) -->

                <!-- Article (Rightside) -->
                <div class="col-lg-6">
                  <div class="row">
                    {{# each latestS}}
                      <div class="col-lg-6">
                        <!-- Article -->
                        <article>
                          <figure class="u-shadow-v25 g-pos-rel g-mb-5">
                            <img class="img-fluid w-100 g-height-150" style="object-fit:cover" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                          </figure>
                          <h3 class="h6 g-mb-5 font-weight-bold">
                            <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/trending/{{this._id}}">
                               {{this.title}}
                             </a>
                          </h3>
                          <ul class="list-inline g-color-gray-dark-v4 g-font-size-12">
                            <li class="list-inline-item">
                              {{this.date}}
                            </li>
                            <li class="list-inline-item">
                              |
                            </li>
                            <li class="list-inline-item">
                              <a href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                            </li>
                          </ul>
                        </article>
                        <!-- End Article -->
                    </div>
                      <hr class="g-brd-gray-light-v4 g-my-25">
                    {{/each}}
                  </div>
                </div>
                <!-- End Article (Rightside) -->
              </div>
            </div>
            <!-- End Latest News -->

            <!-- Breaking News -->
            <div class="g-mb-20">
              <div class="u-heading-v3-1 g-mb-30">
                <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Breaking News</h2>
              </div>
              <div class="g-brd-bottom  g-mb-10">
                <div class="container">
                  <!-- Footer - Popular Stories Carousel -->
                  <div class="js-carousel g-mx-minus-10"
                       data-infinite="true"
                       data-slides-show="2"
                       data-autoplay="true"
                       data-speed="7000"
                       data-lazy-load="ondemand"
                       data-arrows-classes="u-arrow-v1 g-pos-abs g-top-minus-35 g-width-30 g-height-30 g-color-secondary-dark-v1 g-color-primary--hover"
                       data-arrow-left-classes="fa fa-angle-left g-right-30"
                       data-arrow-right-classes="fa fa-angle-right g-right-0"
                       data-responsive='[{
                         "breakpoint": 1200,
                         "settings": {
                           "slidesToShow": 4
                         }
                       }, {
                         "breakpoint": 992,
                         "settings": {
                           "slidesToShow": 3
                         }
                       }, {
                         "breakpoint": 768,
                         "settings": {
                           "slidesToShow": 2
                         }
                       }, {
                         "breakpoint": 480,
                         "settings": {
                           "slidesToShow": 1
                         }
                       }]'>
                    {{# each breaking}}
                    <div class="js-slide g-px-10">
                      <!-- Article -->
                      <article class="media g-bg-white g-pa-10">

                        <div class="media-body">
                          <a class="d-block g-color-lightred g-font-weight-700 g-font-size-12 text-uppercase mb-1" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                          <h3 class="h6">
                            <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/trending/{{this._id}}">{{this.title}}</a>
                          </h3>
                          <ul class="list-inline g-color-gray-dark-v4 g-font-size-12">
                            <li class="list-inline-item">
                              <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="/trender/{{this.author}}">{{this.author_name}}</a>
                            </li>
                            <li class="list-inline-item">/</li>
                            <li class="list-inline-item">
                              {{this.date}}
                            </li>
                            <li class="list-inline-item">/</li>
                            <li class="list-inline-item">
                              <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="/trending/{{this._id}}">
                                <i class="icon-finance-206 u-line-icon-pro align-middle g-pos-rel g-top-1 mr-1"></i> {{this.comments_count}}
                              </a>
                            </li>
                          </ul>
                        </div>
                      </article>
                      <!-- End Article -->
                    </div>
                    {{/each}}

                  </div>
                  <!-- End Footer - Popular Stories Carousel -->
                </div>
              </div>
            </div>
            <!-- End Breaking News -->
            <!-- Featured Articles -->
              <div class="g-mb-60">
                <div class="u-heading-v3-1 g-mb-30">
                  <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Food & Nutrition</h2>
                </div>

                <div class="row g-mb-60">
                  <div class="col-lg-12 container">
                    <!-- Carousel -->
                    <div class="js-carousel g-mx-minus-5"
                         data-infinite="true"
                         data-slides-show="3"
                         data-lazy-load="ondemand"
                         data-arrows-classes="u-arrow-v1 g-pos-abs g-top-minus-35 g-width-30 g-height-30 g-color-secondary-dark-v1 g-color-primary--hover"
                         data-arrow-left-classes="fa fa-angle-left g-right-30"
                         data-arrow-right-classes="fa fa-angle-right g-right-0"
                         data-responsive='[{
                           "breakpoint": 1200,
                           "settings": {
                             "slidesToShow": 4
                           }
                         }, {
                           "breakpoint": 992,
                           "settings": {
                             "slidesToShow": 3
                           }
                         }, {
                           "breakpoint": 768,
                           "settings": {
                             "slidesToShow": 2
                           }
                         }, {
                           "breakpoint": 480,
                           "settings": {
                             "slidesToShow": 1
                           }
                         }]'>
                      {{# each food}}
                      <div class="js-slide g-px-5">
                        <!-- Article -->
                      <article class="u-block-hover">
                        <figure class="u-shadow-v25 u-bg-overlay g-bg-white-gradient-opacity-v1--after">
                          <div style="height: 250px; width: 100%">
                            <img style="height:100%; width: 100%; object-fit: cover" class="u-block-hover__main--zoom-v1 img-fluid" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                          </div>
                        </figure>

                        <div class="w-100 text-center g-absolute-centered g-px-20">
                          <a class="btn btn-xs u-btn-teal text-uppercase rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                          <h3 class="h4 g-mt-10">
                            <a class="g-color-white" href="/trending/{{this._id}}">{{this.title}}</a>
                          </h3>
                          <small class="g-color-white">
                            <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                          </small>
                        </div>
                      </article>
                      <!-- End Article -->
                      </div>
                    {{/each}}
                    </div>
                    <!-- End Carousel -->
                  </div>
                </div>
              </div>
              <!-- End Articles -->
            <!-- Recent Videos -->
            <div class="u-heading-v3-1 g-mb-30">
              <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Trending Videos</h2>
            </div>

            <div class="row">
              {{# each videos}}
              <!-- Article Video -->
              <div class="col-lg-4 col-sm-6 g-mb-10">
                <article>
                  <figure class="u-shadow-v25 g-pos-rel">
                    <img class="img-fluid w-100 g-height-170" style="object-fit: cover" src="../../uploads/{{this.news_cover}}" alt="Image Description">

                    <figcaption class="g-pos-abs g-top-10 g-left-10">
                      <a class="btn btn-xs u-btn-blue text-uppercase rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                    </figcaption>

                    <a href="/trending/{{this._id}}">
                      <span class="u-icon-v3 u-icon-size--sm g-font-size-13 g-bg-white g-bg-black--hover g-color-white--hover rounded-circle g-cursor-pointer g-absolute-centered">
                        <i class="fa fa-play g-left-2"></i>
                      </span>
                    </a>
                  </figure>
                </article>
              </div>
              <!-- End Article Video -->
              {{/each}}
            </div>
            <!-- End Recent Videos -->

            <div id="stickyblock-end"></div>
          </div>
          <!-- End Articles Content -->

          <!-- Sidebar -->
          <div class="col-lg-3 g-mt-50">
            <div class="u-heading-v3-1 g-mb-30">
              <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Advertisements</h2>
            </div>
            <div id="stickyblock-start" class="js-sticky-block g-sticky-block--lg" data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">
              <!-- Popular Videos -->
              <div class="g-mb-50">
                <div>
                  <div class="g-pl-10--md">
                    <!-- Carousel -->
                    <div class="js-carousel g-mx-minus-5"
                         data-infinite="true"
                         data-slides-show="1"
                         data-lazy-load="ondemand"
                         data-arrows-classes="u-arrow-v1 g-pos-abs g-top-minus-35 g-width-30 g-height-30 g-color-secondary-dark-v1 g-color-primary--hover"
                         data-responsive='[{
                           "breakpoint": 1200,
                           "settings": {
                             "slidesToShow": 2
                           }
                         }, {
                           "breakpoint": 992,
                           "settings": {
                             "slidesToShow": 1
                           }
                         }, {
                           "breakpoint": 768,
                           "settings": {
                             "slidesToShow": 2
                           }
                         }, {
                           "breakpoint": 480,
                           "settings": {
                             "slidesToShow": 1
                           }
                         }]'>

                      {{# each adverts}}
                      <div class="js-slide g-px-5">
                        <!-- Magazines -->
                        <article class="g-pos-rel">
                          <figure class="u-shadow-v25 g-bg-img-hero g-min-height-400" style="background-image: url('../../uploads/{{this.news_cover}}');"></figure>

                          <span class="g-pos-abs g-top-0 g-left-0">
                            <a class="btn u-btn-red text-uppercase rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                            <small class="g-bg-black g-color-white g-pa-5 d-block">{{this.date}}</small>
                          </span>

                          <a href="/trending/{{this._id}}">
                            <span class="u-icon-v3 g-font-size-default g-bg-white g-color-black g-bg-gray-dark-v2--hover g-color-white--hover g-rounded-50x g-cursor-pointer g-absolute-centered">
                              <i class="fa fa-play g-left-2"></i>
                            </span>
                          </a>

                          <header class="g-pos-abs g-bottom-0 g-left-0">
                            <h3 class="h5 g-bg-red-opacity-0_5 g-pa-5-10--sm">
                              <a class="g-color-white g-color-white--hover" href="/trending/{{this._id}}">Ad</a>
                            </h3>
                          </header>
                        </article>
                        <!-- End Magazines -->
                      </div>
                      {{/each}}

                    </div>
                    <!-- End Carousel -->
                  </div>
                </div>
              </div>
              <!-- End Popular Videos -->

              <!-- Social Links -->
              <div class="g-mb-50">
                <div class="u-heading-v3-1 g-mb-30">
                  <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Social Links</h2>
                </div>

                <ul class="list-unstyled mb-0">
                  <li class="d-flex align-items-center justify-content-between g-mb-20">
                    <a class="d-flex align-items-center u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="{{social.facebook}}" target="_blank">
                      <span class="u-icon-v3 u-icon-size--xs u-shadow-v25 g-font-size-12 g-bg-facebook g-bg-facebook--hover g-color-white rounded-circle g-mr-10" href="{{social.facebook}}">
                        <i class="fa fa-facebook"></i>
                      </span>
                      Like our page on Facebook
                    </a>
                  </li>
                  <li class="d-flex align-items-center justify-content-between g-mb-20">
                    <a class="d-flex align-items-center u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="{{social.youtube}}" target="_blank">
                      <span class="u-icon-v3 u-icon-size--xs u-shadow-v25 g-font-size-12 g-bg-lightred g-bg-lightred--hover g-color-white rounded-circle g-mr-10" href="{{social.youtube}}">
                        <i class="fa fa-youtube"></i>
                      </span>
                      Subscribe to our Youtube Channel
                    </a>
                  </li>
                  <li class="d-flex align-items-center justify-content-between g-mb-20">
                    <a class="d-flex align-items-center u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="{{social.instagram}}" target="_blank">
                      <span class="u-icon-v3 u-icon-size--xs u-shadow-v25 g-font-size-12 g-bg-instagram g-bg-instagram--hover g-color-white rounded-circle g-mr-10" href="{{social.instagram}}">
                        <i class="fa fa-instagram"></i>
                      </span>
                      Follow us on Instagram
                    </a>
                  </li>
                  <li class="d-flex align-items-center justify-content-between g-mb-20">
                    <a class="d-flex align-items-center u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="{{social.linkedin}}" target="_blank">
                      <span class="u-icon-v3 u-icon-size--xs u-shadow-v25 g-font-size-12 g-bg-instagram g-bg-instagram--hover g-color-white rounded-circle g-mr-10" href="{{social.linkedin}}">
                        <i class="fa fa-linkedin"></i>
                      </span>
                      Follow us on Linkedin
                    </a>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                    <a class="d-flex align-items-center u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="{{social.twitter}}" target="_blank">
                      <span class="u-icon-v3 u-icon-size--xs u-shadow-v25 g-font-size-12 g-bg-twitter g-bg-twitter--hover g-color-white rounded-circle g-mr-10" href="{{social.twitter}}">
                        <i class="fa fa-twitter"></i>
                      </span>
                      Follow us on Twitter
                    </a>
                  </li>
                </ul>
              </div>
              <!-- End Social Links -->
            </div>
          </div>
          <!-- End Sidebar -->
        </div>
        <!-- News Section 1 -->

        <!-- News Section 2 -->
        <div class="row no-gutters g-mb-60">
          <div class="col-lg-12">
            <div class="u-heading-v3-1 g-mb-30">
              <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Healthy Living & LifeStyle Tips</h2>
            </div>
          </div>
        <div class="col-lg-12 container">
          <!-- Carousel -->
          <div class="js-carousel g-mx-minus-5"
               data-infinite="true"
               data-slides-show="3"
               data-lazy-load="ondemand"
               data-arrows-classes="u-arrow-v1 g-pos-abs g-top-minus-35 g-width-30 g-height-30 g-color-secondary-dark-v1 g-color-primary--hover"
               data-arrow-left-classes="fa fa-angle-left g-right-30"
               data-arrow-right-classes="fa fa-angle-right g-right-0"
               data-responsive='[{
                 "breakpoint": 1200,
                 "settings": {
                   "slidesToShow": 4
                 }
               }, {
                 "breakpoint": 992,
                 "settings": {
                   "slidesToShow": 3
                 }
               }, {
                 "breakpoint": 768,
                 "settings": {
                   "slidesToShow": 2
                 }
               }, {
                 "breakpoint": 480,
                 "settings": {
                   "slidesToShow": 1
                 }
               }]'>
            {{# each health}}
            <div class="js-slide g-px-5">
              <!-- Article -->
            <article class="u-block-hover">
              <figure class="u-shadow-v25 u-bg-overlay g-bg-white-gradient-opacity-v1--after">
                <div style="height: 350px; width: 100%">
                  <img style="height:100%; width: 100%; object-fit: cover" class="u-block-hover__main--zoom-v1 img-fluid" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                </div>
              </figure>

              <div class="w-100 text-center g-absolute-centered g-px-20">
                <a class="btn btn-xs u-btn-teal text-uppercase rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                <h3 class="h4 g-mt-10">
                  <a class="g-color-white" href="/trending/{{this._id}}">{{this.title}}</a>
                </h3>
                <small class="g-color-white">
                  <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> {{this.date}}
                </small>
              </div>
            </article>
            <!-- End Article -->
            </div>
          {{/each}}
          </div>
          <!-- End Carousel -->
        </div>
      </div>
        <!-- News Section 2 -->

        <!-- News Section 3 -->
        <div class="row">
          <!-- Articles Content -->
          <div class="col-lg-9 g-mb-10 g-mb-0--lg">

            <!-- Weekly News -->
            <div class="g-mb-20">
              <div class="u-heading-v3-1 g-mb-30">
                <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Weekly Trends & News</h2>
              </div>

              <div class="row g-mb-20">
                {{# each weekly}}
                <!-- Article Video -->
                <div class="col-lg-4 col-sm-6 g-mb-10">
                  <article>
                    <figure class="u-shadow-v25 g-pos-rel g-mb-5">
                      <img class="img-fluid w-100 g-height-170" style="object-fit: cover" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                      <figcaption class="g-pos-abs g-top-10 g-left-10">
                        <a class="btn btn-xs u-btn-blue text-uppercase rounded-0" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                      </figcaption>
                    </figure>
                    <h3 class="h6 g-mb-5 font-weight-bold">
                      <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/trending/{{this._id}}">
                         {{this.title}}
                       </a>
                    </h3>
                    <ul class="list-inline g-color-gray-dark-v4 g-font-size-12">
                      <li class="list-inline-item">
                        {{this.date}}
                      </li>
                      <li class="list-inline-item">
                        |
                      </li>
                      <li class="list-inline-item">
                        <a href="/trending/{{this._id}}">
                          <i class="icon-speech g-pos-rel g-top-1 g-mr-2 g-ml-3"></i>
                           {{this.comments_count}}
                        </a>
                      </li>
                      <li class="list-inline-item">
                        |
                      </li>
                      <li class="list-inline-item">
                        <i class="icon-eye g-pos-rel g-top-1 g-mr-2"></i> {{this.views}}
                      </li>
                    </ul>
                  </article>
                </div>
                <!-- End Article Video -->
                {{/each}}
              </div>
            </div>
            <!-- End Weekly News -->

            <!-- Pagination -->
            <nav id="stickyblock-end-1" aria-label="Page Navigation">
              <a href="/trending-news" class="btn btn-primary" type="button" name="button">Load More News</a>
            </nav>
            <!-- End Pagination -->
          </div>
          <!-- End Articles -->

          <!-- Sidebar -->
          <div class="col-lg-3 g-mb-10 g-mb-0--lg">

            <div id="stickyblock-start-1" class="js-sticky-block g-sticky-block--lg" data-start-point="#stickyblock-start-1" data-end-point="#stickyblock-end-1">
              <!-- Top Authors -->
              <div class="g-mb-20">
                <div class="u-heading-v3-1 g-mb-30">
                  <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Trending Trenders</h2>
                </div>

                {{# each authors}}
                  {{# if this.is_trender}}
                  <article class="media g-mb-20">
                    <img class="d-flex u-shadow-v25 g-width-40 g-height-40 rounded-circle mr-3" src="../../uploads/{{this.profile_image}}" alt="Image" style="object-fit:cover">
                    <div class="media-body">
                      <h4 class="g-font-size-16">
                        <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/trender/{{this._id}}">{{this.firstname}} {{this.lastname}}</a>
                      </h4>
                      <a class="btn u-btn-outline-primary g-font-size-11 text-uppercase mb-3" href="/trender/{{this._id}}">View Trender's Articles</a><br>
                    </div>
                  </article>
                  {{/if}}
                {{/each}}
                <a class="btn u-btn-outline-primary g-font-size-11 text-uppercase mb-3" href="/trending-authors">View More Trenders</a><br>
              </div>
              <!-- End Top Authors -->
            </div>
          </div>
          <!-- End Sidebar -->
        </div>
        <!-- News Section 3 -->
      </div>
    </section>
    <!-- End News Content -->

    <!-- Footer -->
    <footer class="dzsparallaxer height-is-based-on-content" id="contact">
      <div class="g-brd-bottom g-bg-black g-py-50 g-mb-10">
        <div class="container">
          <h3 class="h6 g-font-primary g-font-weight-700 text-uppercase mb-3 text-white">Popular Stories</h3>

          <!-- Footer - Popular Stories Carousel -->
          <div class="js-carousel g-mx-minus-10"
               data-infinite="true"
               data-slides-show="4"
               data-autoplay="true"
               data-speed="7000"
               data-lazy-load="ondemand"
               data-arrows-classes="u-arrow-v1 g-pos-abs g-top-minus-35 g-width-30 g-height-30 g-color-secondary-dark-v1 g-color-primary--hover"
               data-arrow-left-classes="fa fa-angle-left g-right-30"
               data-arrow-right-classes="fa fa-angle-right g-right-0"
               data-responsive='[{
                 "breakpoint": 1200,
                 "settings": {
                   "slidesToShow": 4
                 }
               }, {
                 "breakpoint": 992,
                 "settings": {
                   "slidesToShow": 3
                 }
               }, {
                 "breakpoint": 768,
                 "settings": {
                   "slidesToShow": 2
                 }
               }, {
                 "breakpoint": 480,
                 "settings": {
                   "slidesToShow": 1
                 }
               }]'>

            {{# each articles}}
            <div class="js-slide g-px-10">
              <!-- Article -->
              <article class="media g-bg-white g-pa-10">
                <figure class="d-flex g-width-70 g-height-70 mr-3">
                  <img class="img-fluid" src="../../uploads/{{this.news_cover}}" style="object-fit: cover" alt="Image Description">
                </figure>

                <div class="media-body">
                  <a class="d-block g-color-lightred g-font-weight-700 g-font-size-12 text-uppercase mb-1" href="/trending-tag/{{this._id}}">{{this.tag}}</a>
                  <h4 class="g-font-size-13 mb-0"><a class="u-link-v5 g-color-main g-color-primary--hover" href="/trending/{{this._id}}">{{this.title}}</a></h4>
                </div>
              </article>
              <!-- End Article -->
            </div>
            {{/each}}
          </div>
          <!-- End Footer - Popular Stories Carousel -->
        </div>
      </div>

      <!-- Parallax Image -->
      <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_8--after g-bg-img-hero" style="height: 140%; background-image: url(../../assets/trending.png);"></div>
      <!-- End Parallax Image -->

      <div class="container u-bg-overlay__inner g-color-white-opacity-0_8 g-pt-60 g-mb-60">
        <div class="row">
          <!-- Footer Content -->
          <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg" >
            <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
              <h2 class="u-heading-v2__title h6 text-uppercase mb-0">About Us</h2>
            </div>

            <div class="g-mb-30">
              <p>Trending is an online news updates platform where all the trending topics are posted.</p>
            </div>

            <address class="mb-0">

                <div class="g-mb-30">

                  <h4 class="h6 g-font-weight-600">Headquarters:</h4>

                  <p class="mb-0">{{social.hq}}</p>

                </div>

                <div class="g-mb-30">

                  <h4 class="h6 g-font-weight-600">Phone:</h4>

                  {{# each social.cells}}
                    {{# if this}}
                      <p class="g-mb-10">{{this}}</p>
                    {{/if}}
                  {{/each}}

                </div>

                <div class="mb-0">

                  <h4 class="h6 g-font-weight-600">Email Address:</h4>

                  <p class="mb-0">

                    <a class="g-color-white-opacity-0_8" href="mailto:{{social.email}}">{{social.email}}</a>

                  </p>

                </div>

              </address>
          </div>
          <!-- End Footer Content -->

          <!-- Footer Content -->
          <div class="col-md-6">
            <div class="g-pl-10--md">
              <h3 class="h6 g-font-primary g-font-weight-700 text-uppercase mb-3">Trending Events</h3>

              <!-- Carousel -->
              <div class="js-carousel g-mx-minus-5"
                   data-infinite="true"
                   data-slides-show="2"
                   data-lazy-load="ondemand"
                   data-arrows-classes="u-arrow-v1 g-pos-abs g-top-minus-35 g-width-30 g-height-30 g-color-secondary-dark-v1 g-color-primary--hover"
                   data-arrow-left-classes="fa fa-angle-left g-right-30"
                   data-arrow-right-classes="fa fa-angle-right g-right-0"
                   data-responsive='[{
                     "breakpoint": 1200,
                     "settings": {
                       "slidesToShow": 1
                     }
                   }, {
                     "breakpoint": 992,
                     "settings": {
                       "slidesToShow": 1
                     }
                   }, {
                     "breakpoint": 768,
                     "settings": {
                       "slidesToShow": 2
                     }
                   }, {
                     "breakpoint": 480,
                     "settings": {
                       "slidesToShow": 1
                     }
                   }]'>
                {{# each events}}
                <div class="js-slide g-px-5">
                  <!-- Magazines -->
                  <figure class="u-block-hover g-pos-rel">
                    <div style="height: 350px">
                      <img style="height:100%; width: 100%; object-fit: cover" class="img-fluid u-block-hover__main--zoom-v1 g-transition-0_5" src="../../uploads/{{this.news_cover}}" alt="Image Description">
                    </div>
                    <figcaption class="g-color-white">
                      <div class="g-pos-abs g-top-0 g-left-0 g-pa-20">
                        <h2 class="h4 g-color-white">{{this.title}}</h2>
                      </div>
                      <div class="w-50 g-pos-abs g-bottom-0 g-left-0 g-pa-20">
                        <span class="d-block h6 g-color-white">{{this.tag}}</span>
                      </div>
                      <div class="w-50 text-right g-pos-abs g-bottom-0 g-right-0 g-pa-20">
                        <span class="d-block h6 g-color-white">{{this.date}}</span>
                      </div>
                      <a class="u-link-v2" href="/trending/{{this._id}}"></a>
                    </figcaption>
                  </figure>
                  <!-- End Magazines -->
                </div>
                {{/each}}

              </div>
              <!-- End Carousel -->
            </div>
          </div>
          <!-- End Footer Content -->

          <!-- Footer Content -->
          <div class="col-lg-3 col-md-6">
            <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
              <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Newsletter</h2>
            </div>

            <div class="g-mb-30">
              <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
              <form action="/" method="post" class="subscribeForm">
                <div class="input-group border-0 rounded">
                  <input class="form-control border-0 g-pa-12" type="email" name="email" placeholder="Email address" required>
                  <div class="input-group-append p-0">
                    <button class="btn u-btn-primary g-pa-12 subscribeBtn" type="submit" role="button">Subscribe</button>
                  </div>
                </div>
              </form>
            </div>

            <p>Follow us if you want to be kept up to date about whats going on, minute by minute at Trending HQ</p>
            <ul class="list-inline mb-0">
              <li class="list-inline-item g-mr-10">
                <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6 rounded" href="{{social.facebook}}">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item g-mr-10">
                <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6 rounded" href="{{social.instagram}}">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item g-mr-10">
                <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6 rounded" href="{{social.twitter}}">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item g-mr-10">
                <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6 rounded" href="{{social.linkedin}}">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item g-mr-10">
                <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6 rounded" href="{{social.youtube}}">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- End Footer Content -->
        </div>
      </div>

      <div class="container">

      <!-- Footer - Bottom Section -->
          <div class="row align-items-center">
            <div class="col-md-2 g-brd-right--md g-brd-secondary-light-v2 g-mb-30">
              <!-- Copyright -->
              <p class="g-color-secondary-light-v1 g-font-size-12 mb-0">&copy; <script>document.write(new Date().getFullYear())</script> Trending</p>
              <!-- End Copyright -->
            </div>

            <div class="col-md-10 g-brd-right--md g-brd-secondary-light-v2 g-mb-30">
              <!-- Links -->
              <ul class="list-inline mb-0 text-uppercase">
                <li class="list-inline-item g-pl-0 g-pr-10">
                  <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" href="https://startups3000.web.app">3000 STARTUPS</a>
                </li>
                <li class="list-inline-item g-px-10">
                  <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" href="/trending-job-listings">Trending Job Listings</a>
                </li>
                <li class="list-inline-item g-px-10">
                  <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" href="/trending-adverts">Advertise on Trending</a>
                </li>
                <li class="list-inline-item g-px-10">
                  <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" href="/trending-directories">Trending Directories</a>
                </li>
                <li class="list-inline-item g-px-10">
                  <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" href="/contact">Contact Us</a>
                </li>
              </ul>
              <!-- End Links -->
            </div>

          </div>
          <!-- End Footer - Bottom Section -->
        </div>
    </footer>
    <!-- End Footer -->

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{

     "bottom": 15,

     "right": 15

   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>


  <!-- JS Global Compulsory -->
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
  <script src="../../assets/vendor/popper.js/popper.min.js"></script>
  <script src="../../assets/vendor/bootstrap/bootstrap.min.js"></script>

  <!--Form Handlers--->

  <script>
    $('button.searchButton').click(function(){
      $('form.searchForm').submit();
    });

    $('button.subscribeBtn').click(function(){
      $('form.subscribeForm').submit();
    });
  </script>
  <!--End Handlers-->

  <!-- JS Implementing Plugins -->
  <script src="../../assets/vendor/appear.js"></script>
  <script src="../../assets/vendor/slick-carousel/slick/slick.js"></script>
  <script src="../../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="../../assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
  <script src="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>

  <!-- JS Unify -->
  <script src="../../assets/js/hs.core.js"></script>
  <script src="../../assets/js/components/hs.carousel.js"></script>
  <script src="../../assets/js/components/hs.header.js"></script>
  <script src="../../assets/js/helpers/hs.hamburgers.js"></script>
  <script src="../../assets/js/components/hs.tabs.js"></script>
  <script src="../../assets/js/components/hs.onscroll-animation.js"></script>
  <script src="../../assets/js/components/hs.sticky-block.js"></script>
  <script src="../../assets/js/components/hs.go-to.js"></script>

  <!-- JS Customization -->
  <script src="../../assets/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of scroll animation
        $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of sticky blocks
        setTimeout(function () { // important in this case
          $.HSCore.components.HSStickyBlock.init('.js-sticky-block');
        }, 300);
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
  </script>



  <div id="resolutionCaution" class="text-left g-max-width-600 g-bg-white g-pa-20" style="display: none;">
    <button type="button" class="close" onclick="Custombox.modal.close();">
      <i class="hs-icon hs-icon-close"></i>
    </button>
    <h4 class="g-mb-20">Screen resolution less than 1400px</h4>
  </div>

  <div id="copyModal" class="text-left modal-demo g-bg-white g-color-black g-pa-20" style="display: none;"></div>

  <!-- CSS -->
  <link rel="stylesheet" href="../../assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="../../assets/vendor/chosen/chosen.css">
  <link rel="stylesheet" href="../../assets/vendor/prism/themes/prism.css">
  <link rel="stylesheet" href="../../assets/vendor/custombox/custombox.min.css">
  <link rel="stylesheet" href="../../assets/style-switcher/vendor/spectrum/spectrum.css">
  <link rel="stylesheet" href="../../assets/style-switcher/vendor/spectrum/themes/sp-dark.css">
  <link rel="stylesheet" href="../../assets/style-switcher/style-switcher.css">
  <!-- End CSS -->

  <!-- Scripts -->
  <script src="../../assets/vendor/chosen/chosen.jquery.js"></script>
  <script src="../../assets/vendor/image-select/src/ImageSelect.jquery.js"></script>
  <script src="../../assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="../../assets/vendor/custombox/custombox.min.js"></script>
  <script src="../../assets/vendor/clipboard/dist/clipboard.min.js"></script>

  <!-- Prism -->
  <script src="../../assets/vendor/prism/prism.js"></script>
  <script src="../../assets/vendor/prism/components/prism-markup.min.js"></script>
  <script src="../../assets/vendor/prism/components/prism-css.min.js"></script>
  <script src="../../assets/vendor/prism/components/prism-clike.min.js"></script>
  <script src="../../assets/vendor/prism/components/prism-javascript.min.js"></script>
  <script src="../../assets/vendor/prism/plugins/toolbar/prism-toolbar.min.js"></script>
  <script src="../../assets/vendor/prism/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
  <!-- End Prism -->

  <script src="../../assets/js/components/hs.scrollbar.js"></script>
  <script src="../../assets/js/components/hs.select.js"></script>
  <script src="../../assets/js/components/hs.modal-window.js"></script>
  <script src="../../assets/js/components/hs.markup-copy.js"></script>

  <script src="../../assets/style-switcher/vendor/cookiejs/jquery.cookie.js"></script>
  <script src="../../assets/style-switcher/vendor/spectrum/spectrum.js"></script>
  <script src="../../assets/style-switcher/style-switcher.js"></script>
  <!-- End Scripts -->
  <!-- End Style Switcher -->

</body>

</html>
