<!DOCTYPE html>
<html lang="en" class="no-js">
	<!-- Head -->
	<head>
		<title>{{profile.firstname}} {{profile.lastname}}</title>

		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Favicon -->
		<link rel="shortcut icon" href="../../assets/trend.png" type="image/x-icon">

		<!--  Social tags -->
    <meta name="keywords" content="Trending Dash">
    <meta name="description" content="Trending Dashboard UI Kit crafted by Trending.">
    <meta name="author" content="traending.com">

    <!-- Schema.org -->
    <meta itemprop="name" content="Trending Dashboard UI Kit">
    <meta itemprop="description" content="Trending Dashboard UI Kit crafted by Trending.">
    <meta itemprop="image" content="assets/img/sduik-preview.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@trending">
    <meta name="twitter:title" content="Trending Dashboard UI Kit">
    <meta name="twitter:description" content="Trending Dashboard UI Kit crafted by Trending.">
    <meta name="twitter:creator" content="@trending">
    <meta name="twitter:image" content="assets/img/sduik-preview.png">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Trending">
    <meta property="og:title" content="Trending Dashboard UI Kit">
    <meta property="og:description" content="Trending Dashboard UI Kit crafted by Trending.">
    <meta property="og:url" content="https://traending.com/">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="assets/img/sduik-preview.png">
    <meta property="og:image:secure_url" content="assets/img/sduik-preview.png">

    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

		<!-- Components Vendor Styles -->
	  <link rel="stylesheet" href="../../assets/assets/vendor/font-awesome/css/all.min.css">
		<link rel="stylesheet" href="../../assets/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">

		<!-- Theme Styles -->
		<link rel="stylesheet" href="../../assets/assets/css/theme.css">

		<!-- Custom Charts -->
		<style>
			.js-doughnut-chart {
				width: 70px !important;
				height: 70px !important;
			}
		</style>
	</head>
	<!-- End Head -->

	<body>
		<!-- Header (Topbar) -->
		<header class="u-header">
			<div class="u-header-left">
				<a class="u-header-logo" href="/">
					<img class="u-logo-desktop" src="../../assets/trend.png" width="40" height="40" alt="Trending Dashboard">
					<img class="img-fluid u-logo-mobile" src="../../assets/trend.png" width="50" alt="Trending Dashboard">
				</a>
			</div>

			<div class="u-header-middle">
				<a class="js-sidebar-invoker u-sidebar-invoker" href="#!"
				   data-is-close-all-except-this="true"
				   data-target="#sidebar">
					<i class="fa fa-bars u-sidebar-invoker__icon--open"></i>
					<i class="fa fa-times u-sidebar-invoker__icon--close"></i>
				</a>

			</div>

			<div class="u-header-right">
		  	<!-- User Profile -->
				<div class="dropdown ml-2">
				  <a class="link-muted d-flex align-items-center" href="#!" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
				    <img style="object-fit:cover" class="u-avatar--xs img-fluid rounded-circle mr-2" src="../../uploads/{{profile.profile_image}}" alt="User Profile">
						<span class="text-dark d-none d-sm-inline-block">
							{{profile.firstname}} {{profile.lastname}} <small class="fa fa-angle-down text-muted ml-1"></small>
						</span>
				  </a>

				  <div class="dropdown-menu dropdown-menu-right border-0 py-0 mt-3" aria-labelledby="dropdownMenuLink" style="width: 260px;">
				  	<div class="card">
							<div class="card-body">
								<ul class="list-unstyled mb-0">
									<li>
										<a class="d-flex align-items-center link-dark" href="/user/logout">
											<span class="h3 mb-0"><i class="far fa-share-square text-muted mr-3"></i></span> Sign Out
										</a>
									</li>
								</ul>
							</div>
				  	</div>
				  </div>
				</div>
		  	<!-- End User Profile -->
			</div>
		</header>
		<!-- End Header (Topbar) -->

		<main class="u-main" role="main">
			<!-- Sidebar -->
			<aside id="sidebar" class="u-sidebar">
				<div class="u-sidebar-inner">
					<header class="u-sidebar-header">
						<a class="u-sidebar-logo" href="/">
							<img class="img-fluid" src="../../assets/trend.png" width="40" alt="Trending Dashboard">
						</a>
					</header>

					<nav class="u-sidebar-nav">
						<ul class="u-sidebar-nav-menu u-sidebar-nav-menu--top-level">

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link active" href="/user/profile">
									<i class="fa fa-user u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Dashboard</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/edit-profile">
									<i class="fa fa-edit u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Edit Account</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/edit-profile-image">
									<i class="fa fa-edit u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Change Profile Image</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/reset-password">
									<i class="fa fa-edit u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Change Password</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/mbrisis/admin/upload-trending">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Add New Article</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</aside>
			<!-- End Sidebar -->

			<div class="u-content">
				<div class="u-body">
					<h1 class="h2 font-weight-semibold mb-4">Profile</h1>

					<div class="card mb-4">
						<div class="card-body">
							<div class="row">
								<div class="col-md-4 border-md-right border-light text-center">
									<div class="text-center" style="height: 300px; width: 100%">
										<img class="img-fluid mb-3 rounded" style="object-fit:cover; height: 100%; width: 100%;" src="../../uploads/{{profile.profile_image}}" alt="Image description">
									</div>

									<h2 class="mb-2">{{profile.firstname}} {{profile.lastname}}</h2>
									<h3 class="mb-3">
										<a  href="/edit-profile-image">Update Picture</a>
									</h3>

									<ul class="list-inline mb-4">
										<li class="list-inline-item mr-3">
											<a class="link-muted" href="{{profile.facebook}}">
												<i class="fab fa-facebook"></i>
											</a>
										</li>
										<li class="list-inline-item mr-3">
											<a class="link-muted" href="{{profile.twitter}}">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li class="list-inline-item mr-3">
											<a class="link-muted" href="{{profile.instagram}}">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="link-muted" href="{{profile.linkedin}}">
												<i class="fab fa-linkedin-in"></i>
											</a>
										</li>
									</ul>

									<div class="mb-3">
										<a class="btn btn-primary mb-2" href="/edit-profile">Edit Profile</a>
									</div>
								</div>

								<div class="col-md-8">
									<h3 class="card-title">About me</h3>
									<p class="mb-5">{{profile.about}}</p>
								</div>
							</div>
						</div>
					</div>

          <div class="card mb-4">
            <header class="card-header d-flex align-items-center">
              <h2 class="h3 card-header-title">My Articles  ( {{articles.length}} )</h2>

              <!-- Card Header Icon -->
              <ul class="list-inline ml-auto mb-0">
                <li class="list-inline-item mr-3">
                  <a class="link-muted h3" href="/mbrisis/admin/upload-trending">
                    <i class="fa fa-plus"></i>
                  </a>
                </li>
              </ul>
              <!-- End Card Header Icon -->
            </header>

            <div class="card-body">
							<div class="row">
								{{# each articles}}
									{{# if this.title}}
									<div class="col-sm-6 col-lg-6  mb-md-0">
										<div class="card mb-5">
											<header class="card-header bg-light">
												<div class="media align-items-center">
													<div class="media-body">
														<h4 class="mb-0">{{this.date}}</h4>
													</div>
													{{# if ../profile.is_trender}}
													<!-- Card Header Icon -->
													<ul class="list-inline ml-auto mb-0">
														<li class="list-inline-item mr-3">
															<a class="link-muted h3 text-primary" href="/mbrisis/article/{{this._id}}">
																Edit Article
															</a>
														</li>
													</ul>
													<!-- End Card Header Icon -->
													{{/if}}
												</div>
											</header>
											<div class="card-body">
												<div class="d-flex align-items-center" style="width: 100%; height: 250px;">
													<img style="height: 100%; width: 100%; object-fit:cover;" src="../../uploads/{{this.news_cover}}" alt="">
												</div>
											</div>
											<div class="card-footer">
												<a href="/trending/{{this._id}}" target="_blank">
													<p>{{this.title}}</p>
												</a>
											</div>
										</div>
									</div>
									{{/if}}
								{{/each}}
							</div>
            </div>
          </div>

				</div>

				<!-- Footer -->
				<footer class="u-footer d-md-flex align-items-md-center text-center text-md-left text-muted text-muted">
					<p class="h5 mb-0 ml-auto">
						&copy; Trending News Company.
					</p>
				</footer>
				<!-- End Footer -->
			</div>
		</main>

		<!-- Global Vendor -->
		<script src="../../assets/assets/vendor/jquery/dist/jquery.min.js"></script>
		<script src="../../assets/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
		<script src="../../assets/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
		<script src="../../assets/assets/vendor/bootstrap/bootstrap.min.js"></script>

		<!-- Plugins -->
		<script src="../../assets/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- Initialization  -->
		<script src="../../assets/assets/js/sidebar-nav.js"></script>
		<script src="../../assets/assets/js/main.js"></script>
	</body>
</html>
