<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Trending Terms & Conditions</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../assets/trend.png">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="../../assets/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/assets/vendor/font-awesome/css/all.min.css">
  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="../../assets/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-hs/style.css">
  <link rel="stylesheet" href="../../assets/vendor/animate.css">
  <link rel="stylesheet" href="../../assets/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
  <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
  <link rel="stylesheet" href="../../assets/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="../../assets/vendor/hamburgers/hamburgers.min.css">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="../../assets/css/unify-core.css">
  <link rel="stylesheet" href="../../assets/css/unify-components.css">
  <link rel="stylesheet" href="../../assets/css/unify-globals.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="../../assets/css/custom.css">
</head>

<body>
  <main>
    <!-- Header -->
    <header id="js-header" class="u-header u-header--static u-shadow-v19">
      <!-- Top Bar -->
      <div class="u-header__section g-brd-bottom g-brd-gray-light-v4 g-py-18">
        <div class="container">
          <div class="row">
            <!-- Logo -->
          <div class="col-lg-3 g-hidden-md-down">
            <div class="row">
                <a href="/" class="navbar-brand d-flex">
                  <h2 class="h3" style="font-family: inherit; color: red;">
                    <img class="logo" width="30px" src="../../assets/trend.png" />Trending
                  </h2>
                </a>
            </div>
          </div>
            <!-- End Logo -->

            <!-- Subscribe Form -->
            <div class="col-12 col-lg-8 col-sm-12">
              <form class="input-group rounded searchForm" method="post" action="/trending-search-results">
                <input class="form-control g-brd-secondary-light-v2 g-brd-primary--focus g-color-secondary-dark-v1 g-placeholder-secondary-dark-v1 g-bg-white g-font-weight-400 g-font-size-13 g-px-20 g-py-12" type="text" name="searchInput" placeholder="Search the entire site">
                <span class="input-group-append g-brd-none g-py-0 g-pr-0">
                  <button class="btn u-btn-white g-color-primary--hover g-bg-secondary g-font-weight-600 g-font-size-13 text-uppercase g-py-12 g-px-20 searchButton" type="submit">
                    <span class="g-hidden-md-down">Search</span>
                    <i class="g-hidden-lg-up fa fa-search"></i>
                  </button>
                </span>
              </form>
            </div>
            <!-- End Subscribe Form -->

            <!-- Subscribe Form -->
            <div class="g-hidden-md-down col-lg-1 col-sm-12">
              <a href="/user/signin" class="btn u-btn-white g-color-primary--hover g-bg-secondary g-font-weight-600 g-font-size-13 text-uppercase g-py-12 g-px-20 searchButton">
                <i class="far fa-user mr-2"></i>
                <span class="g-hidden-md-down">Sign In</span>
              </a>
            </div>
            <!-- End Subscribe Form -->

          </div>
        </div>
      </div>
      <!-- End Top Bar -->

    </header>
    <!-- End Header -->

    <!-- Promo Block -->
    <section class="container g-py-150">
      <div class="row">
        <div class="col-lg-112">
          <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
          <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">Terms &amp; Conditions</h2>
          <p class="mb-0">Please read the following Rules carefully, as they provide information about use of Trending in a way that is respectful and lawful.
             By using, or submitting material to our site you agree that have read, understood, accept, and agree to abide by, these Rules.
             The terms, conditions and policies that apply to specific social networks, such as Facebook or Twitter, also apply to the Trending profiles they host.
             We recommend that you familiarise yourself with those terms and conditions before participating in the Platform and we disclaim any liability associated
             with your use of those services, or for your failure to view or comply with their terms, conditions and policies. Where there is a conflict between
             these Rules and the terms and conditions of the relevant social media channels, the social media channels’ terms and conditions will prevail.</p>
        </div>
      </div>
    </section>
    <!-- End Promo Block -->

    <!-- Content -->
    <section class="g-bg-gray-light-v5">
      <div class="container g-py-100">
        <div class="row">
          <div id="stickyblock-start" class="col-md-4 g-mb-30">
            <div class="js-sticky-block g-sticky-block--lg" data-type="responsive" data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">
              <ul class="list-unstyled mb-0">
                <li class="g-bg-gray-dark-v2 g-rounded-top-5 g-px-20 g-pt-30">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#usage">Usage</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#protection">Data protection</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#privacy">Privacy Policies</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#copyrights">Copyrights</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#changes">Changes to these rules</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#refunds">Refunds</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#minors">minors</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-rounded-bottom-5 g-px-20 g-pb-30">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#laws">Governing law and jurisdiction</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-8">

            <!-- Ownership -->
            <div id="usage" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">Acceptable use standards</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>We want to create an open, caring and respectful Platform. To help us do this, you agree that your use of the Platform and your Contributions must:</p>
              <ul>
                <li>be accurate and genuinely believed</li>
                <li>avoid quoting out of context and include a credit for the original author as the source of material</li>
                <li>comply with all applicable domestic, foreign and international laws that govern the content which makes up the Contribution</li>
              </ul>
              <p>You also agree that your use of the Platform and Contributions will not:</p>
              <ul>
                <li>be defamatory, unlawful, obscene, offensive, hateful, abusive, inflammatory, threatening, invasive of anyone’s privacy, or otherwise objectionable</li>
                <li>promote discrimination on grounds of race, sex, religion, nationality, disability, religion or belief, sexual orientation, or age</li>
                <li>infringe any intellectual property rights including copyright, design right, database right, patents, trade mark, moral or performer’s right or any other third party right</li>
                <li>be likely to harass, upset, alarm or cause distress to any other person</li>
                <li>contain an instruction, advice, or content that could cause harm or injury to individuals or to computers or systems</li>
                <li>encourage anyone to commit any unlawful or criminal act or condone any unlawful or criminal act</li>
                <li>give the impression that the Contribution emanates from Trending (or any of its group companies) if this is not the case, or impersonate any person, or misrepresent your identity or affiliation with any person</li>
                <li>contain any advertising</li>
              </ul>
              <p>We also have the right to disclose your identity to any third party who is claiming that any material posted or uploaded by you to our site is defamatory of them, a violation of their intellectual property rights, or of their right to privacy.
                We will not be responsible, or liable to any third party, for the content or accuracy of any materials posted by you or any other user of our site.</p>
            </div>
            <!-- End Ownership -->

            <!-- Usage -->
            <div id="protection" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">Data protection</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>If you are required to submit personal data directly to Trending during the registration process, we will only use such data for administration and monitoring purposes and will not share your data with third parties unless legally required to do so.</p>
            </div>
            <!-- End Usage -->

            <!-- Refunds -->
            <div id="privacy" class="u-shadow-v19 g-bg-white rounded g-pa-40">
              <h3 class="g-color-black mb-3">Privacy Policies</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>If you wish to complain about any Contribution posted to the Platform, please contact us at <a href="mailto:{{social.email}}">{{social.email}}</a> . When you submit a complaint, please (1) outline the reason for your complaint, and (2)
                specify where the Contribution you are complaining about is located.</p>
              <p>We may request further information from you about your complaint before we process it. We will then review the Contribution and decide whether it complies with our Acceptable Use Standards. We will deal with any
                 Contribution which, in our opinion, violates our Content Standards as described above (see section "Monitoring"). We will inform you of the outcome of our review within a reasonable time of receiving your complaint.</p>
            </div>
            <!-- End Refunds -->

            <!-- License -->
            <div id="copyrights" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h2 class="h3 g-color-black mb-3">Copyright</h2>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>By submitting a Contribution to the Platform, you agree to grant Trending a non-exclusive perpetual licence to use that Contribution and to waive your moral rights. Although you will still own the copyright in your Contribution, Trending will have the right to freely use, edit, alter, reproduce, publish and/or distribute the material contained in your Contribution in any format and media. This licence will be free of charge, perpetual and capable of sub-licence. Trending may exercise all copyright and publicity rights in the material contained in your Contribution in all jurisdictions, to their full extent and for the full period for which any such rights exist in that material. We reserve the right to display advertisements in connection with your Contribution.</p>
              <p>Please also note that, in accordance with the Content Standards, you must ensure that your Contribution does not infringe any copyright, database right or trade mark of any other person. By submitting your Contribution to the Platform, you are warranting that you have the right to grant Trending the non-exclusive copyright licence described above.</p>
              <p>If you are not in a position to grant such a licence to Trending, please do not submit the Contribution to the Platform.</p>
            </div>
            <!-- End License -->

            <!-- Ownership -->
            <div id="changes" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">Changes to these rules</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>We may revise these Rules at any time. You are expected to check this page from time to time to take notice of any changes we make, as they are legally binding on you and will apply to you from the date the change was made. You agree to accept and comply with any changes to the rules if you use the Platform after the change is made.</p>
            </div>
            <!-- End Ownership -->

            <!-- License -->
            <div id="refunds" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h2 class="h3 g-color-black mb-3">Refunds</h2>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p> The Trending Advertising Agency do not give refunds after a transaction!</p>
            </div>
            <!-- End License -->

            <!-- Usage -->
            <div id="minors" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">Minors</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>The Platform is intended for use by individuals aged 18 years or more. Minors must get permission from their parent or guardian before using the Platform. We recommend that parents who allow their children to use the Platform discuss online safety with their children first and that parents endeavour to monitor any use of the Platform. Minors should also be given guidance on how to use the Platform safely and in a way that complies with these Rules.</p>
            </div>
            <!-- End Usage -->

            <!-- Refunds -->
            <div id="laws" class="u-shadow-v19 g-bg-white rounded g-pa-40">
              <h3 class="g-color-black mb-3">Governing law and jurisdiction</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>These Rules are governed by and shall be construed in accordance with Zimbabwean law and you irrevocably submit to the exclusive jurisdiction of the courts of Zimbabwe to settle any dispute or claim that arises out of or in connection with these Rules, their subject matter or formation. If any part of these Rules is deemed unlawful, void, or for any reason unenforceable then that part will be deemed severable and will not affect the validity and enforceability of the remaining parts.</p>
            </div>
            <!-- End Refunds -->

          </div>
        </div>
      </div>
    </section>
    <!-- End Content -->

    <div id="stickyblock-end"></div>

    <!-- Copyright Footer -->
    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
            <div class="d-lg-flex">
              <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">&copy; <script>document.write(new Date().getFullYear())</script> Trending</small>
              <ul class="u-list-inline">
                <li class="list-inline-item">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/terms-and-conditions">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                  <span>|</span>
                </li>
                <li class="list-inline-item">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/terms-and-conditions">Terms of Use</a>
                </li>
                <li class="list-inline-item">
                  <span>|</span>
                </li>
                <li class="list-inline-item">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/contact">Support</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-4 align-self-center">
            <ul class="list-inline text-center text-md-right mb-0">
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
                <a href="{{social.facebook}}" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Instagram">
                <a href="{{social.instagram}}" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Linkedin">
                <a href="{{social.linkedin}}" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
                <a href="{{social.twitter}}" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Youtube">
                <a href="{{social.youtube}}" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Copyright Footer -->

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{

     "bottom": 15,

     "right": 15

   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>


  <!-- JS Global Compulsory -->
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
  <script src="../../assets/vendor/popper.js/popper.min.js"></script>
  <script src="../../assets/vendor/bootstrap/bootstrap.min.js"></script>


  <!-- JS Implementing Plugins -->
  <script src="../../assets/vendor/appear.js"></script>
  <script src="../../assets/vendor/slick-carousel/slick/slick.js"></script>
  <script src="../../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="../../assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
  <script src="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>

  <!-- JS Unify -->
  <script src="../../assets/js/hs.core.js"></script>
  <script src="../../assets/js/components/hs.carousel.js"></script>
  <script src="../../assets/js/components/hs.header.js"></script>
  <script src="../../assets/js/helpers/hs.hamburgers.js"></script>
  <script src="../../assets/js/components/hs.tabs.js"></script>
  <script src="../../assets/js/components/hs.onscroll-animation.js"></script>
  <script src="../../assets/js/components/hs.sticky-block.js"></script>
  <script src="../../assets/js/components/hs.go-to.js"></script>

  <!-- JS Customization -->
  <script src="../../assets/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of scroll animation
        $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of sticky blocks
        setTimeout(function () { // important in this case
          $.HSCore.components.HSStickyBlock.init('.js-sticky-block');
        }, 300);
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
  </script>



  <div id="resolutionCaution" class="text-left g-max-width-600 g-bg-white g-pa-20" style="display: none;">
    <button type="button" class="close" onclick="Custombox.modal.close();">
      <i class="hs-icon hs-icon-close"></i>
    </button>
    <h4 class="g-mb-20">Screen resolution less than 1400px</h4>
  </div>

  <div id="copyModal" class="text-left modal-demo g-bg-white g-color-black g-pa-20" style="display: none;"></div>

  <!-- CSS -->
  <link rel="stylesheet" href="../../assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="../../assets/vendor/chosen/chosen.css">
  <link rel="stylesheet" href="../../assets/vendor/prism/themes/prism.css">
  <link rel="stylesheet" href="../../assets/vendor/custombox/custombox.min.css">
  <link rel="stylesheet" href="../../assets/style-switcher/vendor/spectrum/spectrum.css">
  <link rel="stylesheet" href="../../assets/style-switcher/vendor/spectrum/themes/sp-dark.css">
  <link rel="stylesheet" href="../../assets/style-switcher/style-switcher.css">
  <!-- End CSS -->

  <!-- Scripts -->
  <script src="../../assets/vendor/chosen/chosen.jquery.js"></script>
  <script src="../../assets/vendor/image-select/src/ImageSelect.jquery.js"></script>
  <script src="../../assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="../../assets/vendor/custombox/custombox.min.js"></script>
  <script src="../../assets/vendor/clipboard/dist/clipboard.min.js"></script>

  <!-- Prism -->
  <script src="../../assets/vendor/prism/prism.js"></script>
  <script src="../../assets/vendor/prism/components/prism-markup.min.js"></script>
  <script src="../../assets/vendor/prism/components/prism-css.min.js"></script>
  <script src="../../assets/vendor/prism/components/prism-clike.min.js"></script>
  <script src="../../assets/vendor/prism/components/prism-javascript.min.js"></script>
  <script src="../../assets/vendor/prism/plugins/toolbar/prism-toolbar.min.js"></script>
  <script src="../../assets/vendor/prism/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
  <!-- End Prism -->

  <script src="../../assets/js/components/hs.scrollbar.js"></script>
  <script src="../../assets/js/components/hs.select.js"></script>
  <script src="../../assets/js/components/hs.modal-window.js"></script>
  <script src="../../assets/js/components/hs.markup-copy.js"></script>

  <script src="../../assets/style-switcher/vendor/cookiejs/jquery.cookie.js"></script>
  <script src="../../assets/style-switcher/vendor/spectrum/spectrum.js"></script>
  <script src="../../assets/style-switcher/style-switcher.js"></script>
  <!-- End Scripts -->
  <!-- fancybox js -->
  <script src="../../assets/js/jquery.fancybox.min.js"></script>
  <!-- End -->
  <!-- End Style Switcher -->

</body>

</html>
